 @import url(uc-globals.css);
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-bookmarks.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-sidebar.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css0);
 @import url(uc-context-menus.css);
 @import url(components/onetab-darknew.css);
 @import url(integrated_searchbar_popup.css);
 @import url(compact-bookmarks.css);
 @import url(sliding-bookmarks-bar.css);
 @import url(components/clean_extensions_menu.css);
 @import url(addons.css);

 /* ----- My Custom Colors ----- */
 :root {
   --firefoxcss-main-bg-color: hsl(240, 2%, 13%);
   /* ^ Main dark color, url bar, active tab etc. ^ */
   --firefoxcss-item-bg-color: hsl(240, 2%, 20%);
   /* ^ Main lighter color, toolbar ^ */
   --firefoxcss-tab-bg-color: hsl(240, 2%, 26%);
   --firefoxcss-tab-hover-bg-color: hsl(240, 2%, 28%);
   --firefoxcss-tab-active-bg-color: var(--firefoxcss-main-bg-color);
   --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 13%);
   --firefoxcss-url-bar-bg-color: var(--firefoxcss-main-bg-color);
   --firefoxcss-url-border-bottom-color: hsla(0, 0%, 100%, 0.2);
   --firefoxcss-url-border-top-color: hsla(0, 0%, 0%, 0.15);
   --firefoxcss-url-breakout-bar-bg-color: var(--firefoxcss-main-bg-color);
   --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
   --firefoxcss-top-bar-border-bottom-color: hsla(0, 0%, 6%, 0.75);
   --firefoxcss-other-color: hsla(0, 0%, 60%, 0.35);
   --firefoxcss-top-bar-border-bottom-size: 1px;
   --firefoxcss-border-radius: 10px;
 }

 :root {
   --button-hover-bgcolor: hsla(0, 0%, 60%, 0.35) !important;
   --button-active-bgcolor: hsla(0, 0%, 45%, 0.35) !important;
   --button-bgcolor: hsla(0, 0%, 45%, 0.9) !important;
   --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
   --dark-menu-background-color: #222121 !important;
   --dark-menu-border-color: rgb(55, 55, 55) !important;
   --dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;
 }

 /* Avoids bright flash */
 #tabbrowser-tabpanels {
   background-color: var(--firefoxcss-main-bg-color) !important;
 }

 /* Other */
 #TabsToolbar {
   padding-inline-start: initial !important;
 }

 .titlebar-spacer[type="pre-tabs"],
 .titlebar-spacer[type="post-tabs"],
 .titlebar-spacer {
   display: none !important;
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

 #PersonalToolbar {
   --uc-bm-height: 20px;
   /* Might need to adjust if the toolbar has other buttons */
   --uc-bm-padding: 4px;
   /* Vertical padding to be applied to bookmarks */
   --uc-autohide-toolbar-delay: 600ms;
   /* The toolbar is hidden after 0.6s */

   /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
   --uc-autohide-toolbar-focus-rotation: 0deg;
   /* urlbar is focused */
   --uc-autohide-toolbar-hover-rotation: 0deg;
   /* cursor is over the toolbar area */
 }

 :root[uidensity="touch"] #PersonalToolbar {
   --uc-bm-padding: 7px
 }

 #PersonalToolbar:not([customizing]) {
   position: relative;
   margin-bottom: calc(-1px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
   transform: rotateX(90deg);
   transform-origin: top;
   transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
   z-index: 1;
   /* The following properties should allow the themes with trasparent toolbars to work */
   background-color: transparent !important;
   background-repeat: no-repeat, no-repeat, var(--lwt-background-tiling);
   --uc-bg-y: calc(-2 * (var(--tab-block-margin) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) - var(--tab-min-height) - 16px - var(--bookmark-block-padding));
   background-position: top left, top left, var(--lwt-background-alignment, top left);
   background-position-y: top, top, var(--uc-bg-y), var(--uc-bg-y), var(--uc-bg-y);
   background-image: var(--toolbar-bgimage), linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, var(--lwt-additional-images)) !important;
 }

 #PlacesToolbarItems>.bookmark-item,
 #OtherBookmarks,
 #PersonalToolbar>#import-button {
   padding-block: var(--uc-bm-padding) !important;
 }

 #nav-bar:focus-within+#PersonalToolbar {
   transition-delay: 100ms !important;
   transform: rotateX(var(--uc-autohide-toolbar-focus-rotation, 0));
 }

 #navigator-toolbox:hover>#PersonalToolbar {
   transition-delay: 100ms !important;
   transform: rotateX(var(--uc-autohide-toolbar-hover-rotation, 0));
 }

 #navigator-toolbox:hover>#nav-bar:focus-within+#PersonalToolbar {
   transform: rotateX(0);
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_close_button_always_on_hover.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

 /* Always show tab close button on hover and never otherwise */
 .tabbrowser-tab .tab-close-button {
   display: none;
 }

 .tabbrowser-tab:not([pinned]):hover .tab-close-button {
   display: flex !important;
   align-items: center;
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/centered_tab_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
 .tabbrowser-tab[selected]:not(:hover):not([pinned]) .tab-label-container,
 #tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover):not([pinned]) .tab-label-container {
   margin-inline-end: 7px
 }

 .tab-content:not([pinned])::before {
   display: -moz-box;
   content: "";
   -moz-box-flex: 1;
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/centered_tab_label.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

 .tab-label-container {
   display: grid;
   justify-content: safe center;
   /* Fx <112 compatibility */
   align-items: safe center;
   /* Fx <112 compatibility */
   align-content: center;
 }

 .tab-secondary-label {
   -moz-box-pack: center;
   /* Fx <112 compatibility */
   justify-content: center;
 }

 .tab-label,
 .tab-secondary-label {
   overflow: hidden
 }

 .tabbrowser-tab[selected]:not(:hover) .tab-label-container:not([labeldirection="rtl"]),
 #tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover, [pinned]) .tab-label-container:not([labeldirection="rtl"]) {
   margin-inline-end: 7px;
 }

 #PlacesToolbarItems {
   display: flex !important;
   justify-content: safe center !important;
 }

 .tabbrowser-tab:not([selected="true"]):not([multiselected="true"]) .tab-background {
   border-top: 1px solid rgba(130, 130, 130, 0.2) !important;
   border-left: 1px solid rgba(130, 130, 130, 0.2) !important;
   border-right: 1px solid rgba(130, 130, 130, 0.2) !important;
 }

 .tabbrowser-tab[selected="true"] .tab-label:-moz-lwtheme-brighttext {
   color: white !important;
 }

 .tabbrowser-tab .tab-label:-moz-lwtheme-brighttext {
   color: rgba(255, 255, 255, 0.7) !important;
 }

 .tabbrowser-tab[selected="true"] .tab-background:-moz-lwtheme-brighttext {
   box-shadow: inset 0em -4em 0em var(--toolbar-bgcolor) !important;
 }

 /* non-active/non-selected tabs (container) */

 .tabbrowser-tab[usercontextid]:not([selected], [multiselected]):hover .tab-background::before {
   background-color: color-mix(in srgb,
       var(--identity-tab-color) 80%,
       transparent) !important;
   outline: 2px solid var(--identity-tab-color) !important;
   box-shadow: inset 0em -4em 0em var(--identity-tab-color) !important;
 }

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
   background-image:
     /*var(--button-hover-bgcolor)*/
     radial-gradient(circle at bottom center,
       #551dfc 15px,
       #000134d3) !important;
   box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2) !important;
 }

 /*container tab label color when selected */

 .tabbrowser-tab[class*="identity-color-"] .tab-label {
   color: var(--identity-tab-color) !important;
 }

 /* Active tab brightness */

 .tab-content[selected="true"] {
   background-color: color-mix(in srgb, #4d4dfe 20%, transparent) !important;
   text-shadow: 1px !important;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
 }

 /* Mouse Hover Background by passing by non-selected tabs *

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
  background: linear-gradient(#202085, #2020853c) !important;
  box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
}

/* Back button */

 #back-button>.toolbarbutton-icon {
   --backbutton-background: transparent !important;
   border: 0 !important;
   border: none !important;
   border-radius: 20px 20px 20px 20px !important;
   box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
 }

 #forward-button>.toolbarbutton-icon {
   --forwardbutton-background: transparent !important;
   border: 0 !important;
   border: none !important;
   -moz-appearance: var(--bf-moz-appearance) !important;
   box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
   border-radius: 20px 20px 20px 20px !important;
 }

 /*tooltip dark theme*/

 tooltip {
   -moz-appearance: none !important;
   color: #fff !important;
   background-color: #1d1d3b !important;
   /*border-color: #E55B0A !important;*/
   border: 1px solid transparent !important;
   border-image: 1 1 1 1 linear-gradient(90deg,
       #9400ff,
       #ba00e5,
       #df06b9,
       #e62da7,
       #f13b95,
       #f64d86,
       #f85f7a,
       #fc7169,
       #f9845b,
       #e8ab52) !important;
   border-radius: 4px !important;
 }

 /* Mouse Hover Background by passing by non-selected tabs */

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
   background: radial-gradient(circle at bottom center, #551dfc8f 15px, #322a56d1) !important;
   box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
 }

 /* History swipe animation custom color Firefox 111+ */

 #historySwipeAnimationPreviousArrow,
 #historySwipeAnimationNextArrow {
   --swipe-nav-icon-primary-color: #0060DF !important;
   --swipe-nav-icon-accent-color: #FFFFFF !important;
 }

 @media (-moz-content-prefers-color-scheme: dark) {

   #historySwipeAnimationPreviousArrow,
   #historySwipeAnimationNextArrow {
     --swipe-nav-icon-primary-color: #00DDFF !important;
     --swipe-nav-icon-accent-color: #000000 !important;
   }
 }

 /* Remove Text on Boookmarrks-Icoons only in bookmarks bars */
 #PersonalToolbar #import-button>.toolbarbutton-text,
 .bookmark-item>.toolbarbutton-text {
   display: none !important;
 }

 /*
.tabbrowser-tab>.tab-stack>.tab-content>.tab-close-button {
  visibility: hidden;
}*/

 .tabbrowser-tab:hover>.tab-stack>.tab-content>.tab-close-button {
   visibility: visible !important;
 }

 /* ----- Non active tabs have darker text ----- */
 .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-label-container .tab-label {
   color: hsla(0, 0%, 100%, 0.65) !important;
 }

 toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)>.toolbarbutton-icon,
 toolbar #new-tab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)>.toolbarbutton-icon {
   border: 0 !important;
   box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.6) !important;
 }

 #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
   margin-inline-start: 2px !important;
 }

 #tabbrowser-tabs {
   --tab-loading-fill: transparent !important;
   margin-left: 2px !important;
 }

 .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-icon-image {
   opacity: 0.6 !important;
   transition: opacity 250ms ease !important;
 }

 /* Selected tabs design */
 #tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
   border: 0 !important;
   outline: none !important;
 }

 /* Multiselect tabs */
 #tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected="true"] {
   border: 0 !important;
   background-image: none !important;
   outline: none !important;
   background-color: var(--firefoxcss-tab-active-bg-color) !important;
   box-shadow: none !important;
 }

 #tabbrowser-tabs .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
   outline: 1px solid rgba(255, 255, 255, 0.1) !important;
   outline-offset: 0px !important;
   outline-width: 1px !important;
 }

 /* ----------------------------------- */
 /* ----- Toolbar buttons ------------- */
 /* ----------------------------------- */
 toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-icon,
 toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-text,
 toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-badge-stack {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
 }

 toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>.toolbarbutton-icon,
 toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>.toolbarbutton-text,
 toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>.toolbarbutton-badge-stack {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
 }

 :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
   fill: hsl(277, 70%, 64%) !important;
 }

 :root[privatebrowsingmode="temporary"] #PanelUI-menu-button .toolbarbutton-badge-stack .toolbarbutton-icon {
   filter: drop-shadow(0px 0px 1px #000000d5) !important;
 }

 /*** Hide some buttons for hover */

 #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons {
   opacity: 0;
 }

 #page-action-buttons {
   transition: opacity 0.15s ease;
 }

 #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#identity-box {
   opacity: 0;
   /*visibility: collapse;*/
 }

 #identity-box {
   transition: visibility 0.15s ease-in-out, opacity 0.15s ease-in-out;
   /*  transition: opacity 0.15s ease !important;*/
 }

 #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#tracking-protection-icon-container {
   opacity: 0 !important;
 }

 #tracking-protection-icon-container {
   transition: opacity 0.15s ease !important;
 }

 .tab-label-containr[textoverflow][labeldirection="ltr"]:not([pinned]),
 .tab-label-container[textoverflow]:not([labeldirection], [pinned]):-moz-locale-dir(ltr) {
   direction: ltr !important;
   mask-image: linear-gradient(to left, transparent, black 4em) !important;
 }

 #urlbar[breakout][breakout-extend][open] {
   background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
   border-bottom: 1px solid var(--firefoxcss-url-breakout-border-bottom-color) !important;
   border-top: 1px solid var(--firefoxcss-url-border-top-color) !important;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
     rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
     rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
 }

 /* speaker on tabs color fixes */
 .tab-icon-overlay:not([crashed])[soundplaying]:hover,
 .tab-icon-overlay:not([crashed])[muted]:hover,
 .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
   color: currentColor !important;
   stroke: hsla(0, 0%, 80%) !important;
   background-color: hsla(0, 0%, 80%) !important;
   fill-opacity: 0.95 !important;
 }

 .tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
 .tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
 .tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
   color: currentColor !important;
   stroke: hsla(0, 0%, 80%) !important;
   background-color: hsla(0, 0%, 80%) !important;
   fill-opacity: 0.95 !important;
 }

 #TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
 #TabsToolbar .tab-icon-overlay:not([crashed])[muted],
 #TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
   color: hsl(0, 0%, 100%) !important;
 }

 #TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
 #TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
 #TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
   color: hsla(0, 0%, 10%) !important;
 }

 * Tab labels */ #main-window[lwthemetextcolor="dark"] tab {
   color: #333 !important;
 }

 #main-window[lwthemetextcolor="dark"] tab:hover {
   color: #000 !important;
 }

 #main-window[lwthemetextcolor="dark"] tab[selected] {
   color: #000 !important;
 }

 /* Tab labels */

 #main-window[lwthemetextcolor="bright"] tab {
   color: rgb(150, 150, 150) !important;
 }

 #main-window[lwthemetextcolor="bright"] tab:hover {
   color: #fff !important;
 }

 #main-window[lwthemetextcolor="bright"] tab[selected] {
   color: #fff !important;
 }

 .tabbrowser-tab[notselectedsinceload]:not([pending]),
 .tabbrowser-tab[notselectedsinceload][pending][busy] {
   font-style: italic !important;
 }

 /* block our animations while tabs are being dragged & dropped */
 #tabbrowser-tabs[movingtab] .tabbrowser-tab *,
 #tabbrowser-tabs .tabbrowser-tab[justmoved] * {
   transform: none !important;
 }

 /* different tab shadows in various states. to produce the illusion of modulated depth */
 .tabbrowser-tab .tab-content {
   box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0.2), 0px 0px 5px 0px hsla(0, 0%, 0%, 0.1);
 }

 .tabbrowser-tab:not([selected], [multiselected]):is(:hover, .keyboard-focused-tab, [open]) .tab-content,
 .tabbrowser-tab:is([multiselected], [pinned]) .tab-content {
   box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.25) !important;
 }

 .tabbrowser-tab[selected] .tab-content,
 .tabbrowser-tab:is([multiselected], [pinned])[selected] .tab-content {
   box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.35) !important;
 }

 .tabbrowser-tab:focus:not([aria-activedescendant]) .tab-content {
   box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.35) !important;
 }

 .tabbrowser-tab .tab-context-line {
   display: flex !important;
   order: 2 !important;
   height: 1px !important;
   margin: 0 !important;
   opacity: 1 !important;
   transition: none !important;
 }

 /* colored lines on container tabs */
 .tabbrowser-tab[usercontextid] .tab-context-line {
   background-color: var(--identity-tab-color) !important;
 }

 /* purple line on multiselected tabs */
 .tabbrowser-tab[multiselected="true"] .tab-context-line {
   background-color: var(--multiselected-color) !important;
 }

 .tabbrowser-tab:not([usercontextid], [multiselected]) .tab-context-line {
   display: none !important;
 }

 .tabbrowser-tab.identity-icon-on-multiselect[usercontextid][multiselected="true"] .tab-content::after {
   content: "";
   display: flex;
   height: 12px;
   width: 12px;
   margin-inline: 3px;
   background: var(--identity-icon) center/contain no-repeat;
   fill: var(--identity-icon-color);
   -moz-context-properties: fill;
 }

 /* set rounded outside corners on tabs so they look like folder labels.
you can disable this by making a new pref in about:config
and setting it to true: "userChrome.tabs.rounded-outer-corners.disabled"
this CSS is complicated because the outside corner needs to take on the color of the
tab, but it's not part of the tab background so it doesn't do so automatically. */

 /* overflow needs to be visible since the corners need to be outside the
bounding box of the tab, otherwise they won't overlap with other tabs, they'll
just push tabs 10px away from each other, and from the edge of the tab bar. */
 #TabsToolbar .tabbrowser-tab,
 #TabsToolbar .tabbrowser-tab .tab-stack {
   overflow: visible;
 }

 .tabbrowser-tab .tab-stack::before,
 .tabbrowser-tab .tab-stack::after {
   bottom: 0;
   content: "";
   display: block;
   position: absolute;
   pointer-events: none;
   width: 5px;
   height: 5px;
   z-index: 2;
 }

 .tabbrowser-tab .tab-stack::before {
   mask: url(chrome://userchrome/content/skin/tab-corner-mask-left.svg) 0/100% 100%, linear-gradient(#fff, #fff);
   mask-composite: exclude;
   left: -5px;
 }

 .tabbrowser-tab .tab-stack::after {
   mask: url(chrome://userchrome/content/skin/tab-corner-mask-right.svg) 0/100% 100%, linear-gradient(#fff, #fff);
   mask-composite: exclude;
   right: -5px;
 }

 .tabbrowser-tab[usercontextid]:not([multiselected]) .tab-stack::before {
   left: -4.6px;
 }

 .tabbrowser-tab[usercontextid]:not([multiselected]) .tab-stack::after {
   right: -4.6px;
 }

 /* z-index of these corners is very complicated because the z-index of other
elements needs to be set directly, to create the impression that tabs are
layering on top of each other, with rightmost tabs on top and leftmost tabs on
bottom. this is the normal state but hovering, selecting, pinning, etc. needs to
change the z-index so tabs can "pop out" of the stack. so because z-index is
being modulated so heavily we need to do the same with our outside corners, or
else they'll end up being covered up or showing through things they shouldn't. */
 .tabbrowser-tab .tab-context-line {
   z-index: 3;
   position: relative !important;
 }

 .tabbrowser-tab {
   z-index: 0;
 }

 .tabbrowser-tab .tab-content {
   z-index: 1;
 }

 .tabbrowser-tab[pinned] .tab-stack::before,
 .tabbrowser-tab[pinned] .tab-stack::after {
   z-index: 6;
 }

 .tab-icon-stack {
   z-index: -1;
 }

 /* hide the corners on first/last visible tabs, just like we unround the top corners */
 #tabbrowser-tabs:not([movingtab], [using-closing-tabs-spacer]) .tabbrowser-tab:first-of-type:not([justmoved], [style*="transform"]) .tab-stack::before,
 #tabbrowser-tabs:not([movingtab], [using-closing-tabs-spacer]) .tabbrowser-tab:last-of-type:not([justmoved], [style*="transform"]) .tab-stack::after {
   display: none;
 }

 #TabsToolbar #tabbrowser-tabs #tabbrowser-arrowscrollbox:not([overflowing="true"]) .tabbrowser-tab:last-of-type[pinned] .tab-stack::after {
   display: block;
 }

 /* default position is for tabs to be stacked on top of the tab to their left.
so shadows are cast to the left but not to the right. */
 .tabbrowser-tab {
   position: relative;
 }

 /* hovered tabs stack on top of normal tabs in either direction. so shadows are
cast in both directions, unless the neighboring tab is selected or something. */
 .tabbrowser-tab:not([visuallyselected="true"], [pinned], [multiselected]):is(:hover, .keyboard-focused-tab, [open]) {
   z-index: 3 !important;
 }

 /* selected tabs stack over hovered tabs */
 .tabbrowser-tab[visuallyselected="true"] {
   z-index: 6 !important;
 }

 /* multiselected tabs do too, but lower than selected tabs */
 .tabbrowser-tab[multiselected] {
   z-index: 4 !important;
 }

 /* multiselected gets 1 extra point for being hovered */
 .tabbrowser-tab[multiselected]:not([visuallyselected="true"], [pinned]):is(:hover, .keyboard-focused-tab, [open]) {
   z-index: 5 !important;
 }

 .tabbrowser-tab[multiselected][visuallyselected="true"] {
   z-index: 6 !important;
 }

 /* pinned tabs stack over everything except selected tabs */
 .tabbrowser-tab[pinned] {
   z-index: 7 !important;
 }

 /* and the same formula applies to them too */
 .tabbrowser-tab[pinned]:not([visuallyselected="true"], [multiselected]):is(:hover, .keyboard-focused-tab, [open]) {
   z-index: 8 !important;
 }

 .tabbrowser-tab[pinned][multiselected] {
   z-index: 9 !important;
 }

 .tabbrowser-tab[pinned][multiselected]:not([visuallyselected="true"]):is(:hover, .keyboard-focused-tab, [open]) {
   z-index: 10 !important;
 }

 .tabbrowser-tab[pinned][visuallyselected="true"],
 .tabbrowser-tab[pinned][multiselected][visuallyselected="true"] {
   z-index: 11 !important;
 }

 /* when tab is being dragged/dropped, style it like it's hovered */
 #tabbrowser-tabs[movingtab] .tabbrowser-tab[selected]:not([pinned]) .tab-icon-image {
   opacity: 0 !important;
 }

 #tabbrowser-tabs[movingtab] .tabbrowser-tab[selected]:not([pinned]) .tab-close-button {
   order: 0 !important;
   display: flex !important;
   position: relative !important;
   margin-right: -16px !important;
   z-index: 1 !important;
   visibility: visible !important;
   opacity: 1 !important;
 }

 /* tab buttons are animated with opacity and transformation */
 .tabbrowser-tab:not(:hover, .keyboard-focused-tab, [tabdrop-samewindow], [open]) .tab-close-button {
   transform: translateX(-15px) scale(0.5) !important;
 }

 #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([tabdrop-samewindow], [justmoved]) :is(.tab-close-button, .tab-icon-image, .tab-sharing-icon-overlay, .tab-throbber) {
   transition: 0.12s transform ease-in-out, 0.12s opacity ease-in-out !important;
 }

 @media (prefers-reduced-motion: no-preference) {

   /* tabLoadingSpinner.uc.js enables a special loading throbber animation
that spins instead of bouncing horizontally */
   @keyframes uc-tab-throbber-spinner-css {
     to {
       rotate: 360deg;
     }
   }

   @keyframes uc-tab-throbber-spinner-sprite {
     0% {
       transform: translateX(0);
     }

     100% {
       transform: translateX(-100%);
     }
   }

   @keyframes uc-tab-throbber-spinner-sprite-rtl {
     0% {
       transform: translateX(0);
     }

     100% {
       transform: translateX(100%);
     }
   }

   /* I made different versions of this animation to circumvent an SVG issue. if
you update Firefox and the throbber animation stops working, uncomment one of
the 2 alternate rules below. one of the 3 should work. you can do the same
thing with the all-tabs-menu loading icons in the next ruleset below. */
   :root[sessionrestored] .tab-throbber[throbber-loaded]::before {
     content: "" !important;
     display: flex !important;
     -moz-context-properties: fill, fill-opacity !important;
     width: 16px !important;
     height: 16px !important;
     animation: none !important;
     background-position: center !important;
     background-repeat: no-repeat !important;
     fill: inherit !important;

     /* ANIMATION METHOD #1: this version of the animation is implemented by an
     <animateTransform> tag. it's the most efficient method but it has broken
     once for a couple days due to an erroneous nightly patch. */

     /* background-image: url(chrome://userchrome/content/loading-spinner.svg) !important; */

     /* ---------------------------------- */

     /* ANIMATION METHOD #2: the animation is written in a <style> tag
     embedded inside the SVG code. it's visually identical to method #1, but
     in terms of performance it is slightly less efficient. the animation is
     applied to the compound vector path via the inline style attribute,
     giving the element a CSS property "animation" that references the
     animation in the style tag. use this if method #1 randomly breaks,
     *temporarily*. mozilla should patch such a bug quickly. */

     /* background-image: url(chrome://userchrome/content/loading-spinner-css.svg) !important; */

     /* ---------------------------------- */

     /* ANIMATION METHOD #3: use this if neither method #1 nor #2 works; or if
     you want to adjust the speed or other properties of the animation. in
     this version, the SVG image itself is not animated at all. it's
     completely static. instead, the entire animation is added post hoc via
     CSS in this user stylesheet. therefore, it should never break. I believe
     this method is significantly less efficient than the two aforementioned
     methods, because you don't get to use optimizations that stop SVG
     animations playing when they're not active. my understanding is the
     animation is basically running 24/7 even when the spinner isn't visible,
     because the spinner technically is always visible in order to support the
     sliding tab-hover transitions. you can't see it but it's not hidden in
     the DOM sense. so I think that makes this method a last resort. */

     /* background-image: url(chrome://userchrome/content/loading-spinner-static.svg) !important;
  animation: 0.85s steps(12, end) uc-tab-throbber-spinner-css infinite !important; */

     /* ANIMATION METHOD #4: this version of the animation is implemented in CSS on
     a sprite sheet. it's like method #3 except it eliminates an issue with the
     vector illustration that makes the icon look like it wobbles. */
     background-image: url(chrome://userchrome/content/loading-spinner-sprite.svg) !important;
     background-position: left center !important;
     width: 192px !important;
     height: 100% !important;
     animation: uc-tab-throbber-spinner-sprite 0.85s steps(12) infinite !important;
   }

   /* ANIMATION METHOD #4: */
   :root[sessionrestored] .tab-throbber[throbber-loaded]:-moz-locale-dir(rtl)::before {
     animation-name: uc-tab-throbber-spinner-sprite-rtl !important;
   }

   /* all tabs menu & vertical tabs pane (script) */
   :root[uc-loading-spinner] .tab-throbber-tabslist:is([busy], [progress]) {
     /* ANIMATION METHOD #1: */
     list-style-image: url(chrome://userchrome/content/loading-spinner.svg) !important;

     /* ANIMATION METHOD #2: */
     /* list-style-image: url(chrome://userchrome/content/loading-spinner-css.svg) !important; */

     /* ANIMATION METHOD #3: */
     /* animation: 0.85s steps(12, end) uc-tab-throbber-spinner-css infinite !important;
  list-style-image: url(chrome://userchrome/content/loading-spinner-static.svg) !important; */
   }

   :root[uc-loading-spinner] .tab-throbber-tabslist[busy] {
     opacity: 0.8 !important;
     fill: var(--busy-throbber-fill) !important;
   }

   :root[uc-loading-spinner] .tab-throbber-tabslist[progress] {
     opacity: 1 !important;
     fill: var(--loading-throbber-fill) !important;
   }
 }

 .tabbrowser-tab {
   --tab-label-mask-size: 2em !important;
 }