 @import url(uc-globals.css);
 @import url(uc-variables.css);
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-navbar.css);
 @import url(uc-bookmarks.css);
 @import url(uc-fullscreen.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-misc.css);
 @import url(uc-sidebar.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css0);
 @import url(uc-context-menus.css);
 @import url(components/onetab-darknew.css);
 @import url(integrated_searchbar_popup.css);
 @import url(compact-bookmarks.css);
 @import url(sliding-bookmarks-bar.css);
 @import url(components/clean_extensions_menu.css);
 @import url(addons.css);

 /* ----- My Custom Colors ----- */
 :root {
   --firefoxcss-main-bg-color: hsl(240, 2%, 13%);
   /* ^ Main dark color, url bar, active tab etc. ^ */
   --firefoxcss-item-bg-color: hsl(240, 2%, 20%);
   /* ^ Main lighter color, toolbar ^ */
   --firefoxcss-tab-bg-color: hsl(240, 2%, 26%);
   --firefoxcss-tab-hover-bg-color: hsl(240, 2%, 28%);
   --firefoxcss-tab-active-bg-color: var(--firefoxcss-main-bg-color);
   --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 13%);
   --firefoxcss-url-bar-bg-color: var(--firefoxcss-main-bg-color);
   --firefoxcss-url-border-bottom-color: hsla(0, 0%, 100%, 0.2);
   --firefoxcss-url-border-top-color: hsla(0, 0%, 0%, 0.15);
   --firefoxcss-url-breakout-bar-bg-color: var(--firefoxcss-main-bg-color);
   --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
   --firefoxcss-top-bar-border-bottom-color: hsla(0, 0%, 6%, 0.75);
   --firefoxcss-other-color: hsla(0, 0%, 60%, 0.35);
   --firefoxcss-top-bar-border-bottom-size: 1px;
   --firefoxcss-border-radius: 10px;
 }

 :root {
   --button-hover-bgcolor: hsla(0, 0%, 60%, 0.35) !important;
   --button-active-bgcolor: hsla(0, 0%, 45%, 0.35) !important;
   --button-bgcolor: hsla(0, 0%, 45%, 0.9) !important;
   --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
   --dark-menu-background-color: #222121 !important;
   --dark-menu-border-color: rgb(55, 55, 55) !important;
   --dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;
 }

 /* Avoids bright flash */
 #tabbrowser-tabpanels {
   background-color: var(--firefoxcss-main-bg-color) !important;
 }

 /* Other */
 #TabsToolbar {
   padding-inline-start: initial !important;
 }

 .titlebar-spacer[type="pre-tabs"],
 .titlebar-spacer[type="post-tabs"],
 .titlebar-spacer {
   display: none !important;
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

 #PersonalToolbar {
   --uc-bm-height: 20px;
   /* Might need to adjust if the toolbar has other buttons */
   --uc-bm-padding: 4px;
   /* Vertical padding to be applied to bookmarks */
   --uc-autohide-toolbar-delay: 600ms;
   /* The toolbar is hidden after 0.6s */

   /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
   --uc-autohide-toolbar-focus-rotation: 0deg;
   /* urlbar is focused */
   --uc-autohide-toolbar-hover-rotation: 0deg;
   /* cursor is over the toolbar area */
 }

 :root[uidensity="touch"] #PersonalToolbar {
   --uc-bm-padding: 7px
 }

 #PersonalToolbar:not([customizing]) {
   position: relative;
   margin-bottom: calc(-1px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
   transform: rotateX(90deg);
   transform-origin: top;
   transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
   z-index: 1;
   /* The following properties should allow the themes with trasparent toolbars to work */
   background-color: transparent !important;
   background-repeat: no-repeat, no-repeat, var(--lwt-background-tiling);
   --uc-bg-y: calc(-2 * (var(--tab-block-margin) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) - var(--tab-min-height) - 16px - var(--bookmark-block-padding));
   background-position: top left, top left, var(--lwt-background-alignment, top left);
   background-position-y: top, top, var(--uc-bg-y), var(--uc-bg-y), var(--uc-bg-y);
   background-image: var(--toolbar-bgimage), linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, var(--lwt-additional-images)) !important;
 }

 #PlacesToolbarItems>.bookmark-item,
 #OtherBookmarks,
 #PersonalToolbar>#import-button {
   padding-block: var(--uc-bm-padding) !important;
 }

 #nav-bar:focus-within+#PersonalToolbar {
   transition-delay: 100ms !important;
   transform: rotateX(var(--uc-autohide-toolbar-focus-rotation, 0));
 }

 #navigator-toolbox:hover>#PersonalToolbar {
   transition-delay: 100ms !important;
   transform: rotateX(var(--uc-autohide-toolbar-hover-rotation, 0));
 }

 #navigator-toolbox:hover>#nav-bar:focus-within+#PersonalToolbar {
   transform: rotateX(0);
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_close_button_always_on_hover.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

 /* Always show tab close button on hover and never otherwise */
 .tabbrowser-tab .tab-close-button {
   display: none;
 }

 .tabbrowser-tab:not([pinned]):hover .tab-close-button {
   display: flex !important;
   align-items: center;
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/centered_tab_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
 .tabbrowser-tab[selected]:not(:hover):not([pinned]) .tab-label-container,
 #tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover):not([pinned]) .tab-label-container {
   margin-inline-end: 7px
 }

 .tab-content:not([pinned])::before {
   display: -moz-box;
   content: "";
   -moz-box-flex: 1;
 }

 /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/centered_tab_label.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

 .tab-label-container {
   display: grid;
   justify-content: safe center;
   /* Fx <112 compatibility */
   align-items: safe center;
   /* Fx <112 compatibility */
   align-content: center;
 }

 .tab-secondary-label {
   -moz-box-pack: center;
   /* Fx <112 compatibility */
   justify-content: center;
 }

 .tab-label,
 .tab-secondary-label {
   overflow: hidden
 }

 .tabbrowser-tab[selected]:not(:hover) .tab-label-container:not([labeldirection="rtl"]),
 #tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover, [pinned]) .tab-label-container:not([labeldirection="rtl"]) {
   margin-inline-end: 7px;
 }

 #PlacesToolbarItems {
   display: flex !important;
   justify-content: safe center !important;
 }

 .tabbrowser-tab:not([selected="true"]):not([multiselected="true"]) .tab-background {
   border-top: 1px solid rgba(130, 130, 130, 0.2) !important;
   border-left: 1px solid rgba(130, 130, 130, 0.2) !important;
   border-right: 1px solid rgba(130, 130, 130, 0.2) !important;
 }

 .tabbrowser-tab[selected="true"] .tab-label:-moz-lwtheme-brighttext {
   color: white !important;
 }

 .tabbrowser-tab .tab-label:-moz-lwtheme-brighttext {
   color: rgba(255, 255, 255, 0.7) !important;
 }

 .tabbrowser-tab[selected="true"] .tab-background:-moz-lwtheme-brighttext {
   box-shadow: inset 0em -4em 0em var(--toolbar-bgcolor) !important;
 }

 /* non-active/non-selected tabs (container) */

 .tabbrowser-tab[usercontextid]:not([selected], [multiselected]):hover .tab-background::before {
   background-color: color-mix(in srgb,
       var(--identity-tab-color) 80%,
       transparent) !important;
   outline: 2px solid var(--identity-tab-color) !important;
   box-shadow: inset 0em -4em 0em var(--identity-tab-color) !important;
 }

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
   background-image:
     /*var(--button-hover-bgcolor)*/
     radial-gradient(circle at bottom center,
       #551dfc 15px,
       #000134d3) !important;
   box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2) !important;
 }

 /*container tab label color when selected */

 .tabbrowser-tab[class*="identity-color-"] .tab-label {
   color: var(--identity-tab-color) !important;
 }

 /* Active tab brightness */

 .tab-content[selected="true"] {
   background-color: color-mix(in srgb, #4d4dfe 20%, transparent) !important;
   text-shadow: 1px !important;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
 }

 /* Mouse Hover Background by passing by non-selected tabs *

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
  background: linear-gradient(#202085, #2020853c) !important;
  box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
}

/* Back button */

 #back-button>.toolbarbutton-icon {
   --backbutton-background: transparent !important;
   border: 0 !important;
   border: none !important;
   border-radius: 20px 20px 20px 20px !important;
   box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
 }

 #forward-button>.toolbarbutton-icon {
   --forwardbutton-background: transparent !important;
   border: 0 !important;
   border: none !important;
   -moz-appearance: var(--bf-moz-appearance) !important;
   box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
   border-radius: 20px 20px 20px 20px !important;
 }

 /*tooltip dark theme*/

 tooltip {
   -moz-appearance: none !important;
   color: #fff !important;
   background-color: #1d1d3b !important;
   /*border-color: #E55B0A !important;*/
   border: 1px solid transparent !important;
   border-image: 1 1 1 1 linear-gradient(90deg,
       #9400ff,
       #ba00e5,
       #df06b9,
       #e62da7,
       #f13b95,
       #f64d86,
       #f85f7a,
       #fc7169,
       #f9845b,
       #e8ab52) !important;
   border-radius: 4px !important;
 }

 /* Mouse Hover Background by passing by non-selected tabs */

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
   background: radial-gradient(circle at bottom center, #551dfc8f 15px, #322a56d1) !important;
   box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
 }

 /* History swipe animation custom color Firefox 111+ */

 #historySwipeAnimationPreviousArrow,
 #historySwipeAnimationNextArrow {
   --swipe-nav-icon-primary-color: #0060DF !important;
   --swipe-nav-icon-accent-color: #FFFFFF !important;
 }

 @media (-moz-content-prefers-color-scheme: dark) {

   #historySwipeAnimationPreviousArrow,
   #historySwipeAnimationNextArrow {
     --swipe-nav-icon-primary-color: #00DDFF !important;
     --swipe-nav-icon-accent-color: #000000 !important;
   }
 }

 /* Remove Text on Boookmarrks-Icoons only in bookmarks bars */
 #PersonalToolbar #import-button>.toolbarbutton-text,
 .bookmark-item>.toolbarbutton-text {
   display: none !important;
 }

 /*
.tabbrowser-tab>.tab-stack>.tab-content>.tab-close-button {
  visibility: hidden;
}*/

 .tabbrowser-tab:hover>.tab-stack>.tab-content>.tab-close-button {
   visibility: visible !important;
 }

 /* ----- Non active tabs have darker text ----- */
 .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-label-container .tab-label {
   color: hsla(0, 0%, 100%, 0.65) !important;
 }

 toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)>.toolbarbutton-icon,
 toolbar #new-tab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)>.toolbarbutton-icon {
   border: 0 !important;
   box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.6) !important;
 }

 #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
   margin-inline-start: 2px !important;
 }

 #tabbrowser-tabs {
   --tab-loading-fill: transparent !important;
   margin-left: 2px !important;
 }

 .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-icon-image {
   opacity: 0.6 !important;
   transition: opacity 250ms ease !important;
 }

 /* Selected tabs design */
 #tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
   border: 0 !important;
   outline: none !important;
 }

 /* Multiselect tabs */
 #tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected="true"] {
   border: 0 !important;
   background-image: none !important;
   outline: none !important;
   background-color: var(--firefoxcss-tab-active-bg-color) !important;
   box-shadow: none !important;
 }

 #tabbrowser-tabs .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
   outline: 1px solid rgba(255, 255, 255, 0.1) !important;
   outline-offset: 0px !important;
   outline-width: 1px !important;
 }

 /* ----------------------------------- */
 /* ----- Toolbar buttons ------------- */
 /* ----------------------------------- */
 toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-icon,
 toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-text,
 toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>.toolbarbutton-badge-stack {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
 }

 toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>.toolbarbutton-icon,
 toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>.toolbarbutton-text,
 toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>.toolbarbutton-badge-stack {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
 }

 :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
   fill: hsl(277, 70%, 64%) !important;
 }

 :root[privatebrowsingmode="temporary"] #PanelUI-menu-button .toolbarbutton-badge-stack .toolbarbutton-icon {
   filter: drop-shadow(0px 0px 1px #000000d5) !important;
 }

 /*** Hide some buttons for hover */

 #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons {
   opacity: 0;
 }

 #page-action-buttons {
   transition: opacity 0.15s ease;
 }

 #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#identity-box {
   opacity: 0;
   /*visibility: collapse;*/
 }

 #identity-box {
   transition: visibility 0.15s ease-in-out, opacity 0.15s ease-in-out;
   /*  transition: opacity 0.15s ease !important;*/
 }

 #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#tracking-protection-icon-container {
   opacity: 0 !important;
 }

 #tracking-protection-icon-container {
   transition: opacity 0.15s ease !important;
 }

 .tab-label-containr[textoverflow][labeldirection="ltr"]:not([pinned]),
 .tab-label-container[textoverflow]:not([labeldirection], [pinned]):-moz-locale-dir(ltr) {
   direction: ltr !important;
   mask-image: linear-gradient(to left, transparent, black 4em) !important;
 }

 #urlbar[breakout][breakout-extend][open] {
   background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
   border-bottom: 1px solid var(--firefoxcss-url-breakout-border-bottom-color) !important;
   border-top: 1px solid var(--firefoxcss-url-border-top-color) !important;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
     rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
     rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
 }

 /* speaker on tabs color fixes */
 .tab-icon-overlay:not([crashed])[soundplaying]:hover,
 .tab-icon-overlay:not([crashed])[muted]:hover,
 .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
   color: currentColor !important;
   stroke: hsla(0, 0%, 80%) !important;
   background-color: hsla(0, 0%, 80%) !important;
   fill-opacity: 0.95 !important;
 }

 .tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
 .tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
 .tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
   color: currentColor !important;
   stroke: hsla(0, 0%, 80%) !important;
   background-color: hsla(0, 0%, 80%) !important;
   fill-opacity: 0.95 !important;
 }

 #TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
 #TabsToolbar .tab-icon-overlay:not([crashed])[muted],
 #TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
   color: hsl(0, 0%, 100%) !important;
 }

 #TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
 #TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
 #TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
   color: hsla(0, 0%, 10%) !important;
 }

 * Tab labels */ #main-window[lwthemetextcolor="dark"] tab {
   color: #333 !important;
 }

 #main-window[lwthemetextcolor="dark"] tab:hover {
   color: #000 !important;
 }

 #main-window[lwthemetextcolor="dark"] tab[selected] {
   color: #000 !important;
 }

 /* Tab labels */

 #main-window[lwthemetextcolor="bright"] tab {
   color: rgb(150, 150, 150) !important;
 }

 #main-window[lwthemetextcolor="bright"] tab:hover {
   color: #fff !important;
 }

 #main-window[lwthemetextcolor="bright"] tab[selected] {
   color: #fff !important;
 }