 @import url(uc-globals.css);
 /*@import url(uc-variables.css);*/
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-bookmarks.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-sidebar.css);
 @import url(uc-misc.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css);
 @import url(uc-context-menus.css);
 @import url(components/integrated_searchbar_popup.css);
 @import url(compact-bookmarks.css);
 @import url(sliding-bookmarks-bar.css);
 @import url(components/clean_extensions_menu.css);
 @import url(addons.css);
 @import url(components/colored_soundplaying_tab.css);
 @import url(components/search_bar_transparent_background.css);
 @import url(components/url_bar_no_border.css);
 /*@import url(components/autohide_sidebar.css);*/
 @import url(components/dark_additional_windows.css);
 @import url(components/overlay_tab_audio_icons.css);
 @import url(components/urlbar_container_color_border.css);
 @import url(components/tab_closing_animation.css);
 /*@import url(components/hide_tabs_with_one_tab_w_window_controls.css);
 @import url(components/buttonlike_toolbarbuttons.css);*/
 @import url(components/integrated_searchbar_popup.css);
 @import url(components/tab_closing_animation.css);
 /*@import url(components/shrinking_pinned_tabs.css);*/
 @import url(components/centered_tab_content.css);
 /*@import url(components/tab_line_loading_indicator.css);*/
 @import url(components/dark_checkboxes_and_radios.css);
 @import url(components/tab_close_button_always_on_hover.css);
 @import url(components/compact_extensions_panel.css);
 @import url(custom-chrome.css);

 /* Remove Tab When Only One *
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }

 /* Remove Tab When Only One *
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }
/* Add all around shadow-looks like an Outline */
 /*.tabbrowser-tab[selected] .tab-icon-image {
     filter:
         drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white) !important;
     border-radius: 15% !important;
 }*/
 /* Sidebar background color change */
 /* Bookmarks bar background color */
 #PersonalToolbar {
     background-color: var(--firefoxcss-bookmarks-bg-color) !important;
     backdrop-filter: blur(10px) !important;
 }

 /* Remove empty space from tabs bar */
 #TabsToolbar .titlebar-spacer[type="pre-tabs"],
 #TabsToolbar .titlebar-spacer[type="post-tabs"],
 #TabsToolbar .titlebar-spacer,
 /* Private browser icons remove and change main menu to purple */
 #private-browsing-indicator-with-label,
 .private-browsing-indicator {
     display: none !important;
 }

 .tabbrowser-tab .tab-label-container .tab-label {
     transition: color 250ms ease !important;
 }

 .tabbrowser-tab[fadein]:not([style^="max-width"]) {
     max-width: 100vw !important
 }

 #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background:not(:-moz-lwtheme) {
     box-shadow: 0 0 4px rgba(128, 128, 142, 0.5) !important;
 }

 #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background:not(:-moz-lwtheme) {
     box-shadow: 0 0 1px var(--tab-line-color, rgba(128, 128, 142, 0.9)), 0 0 4px rgba(128, 128, 142, 0.5) !important;
 }

 :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme),
 :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) {
     --focus-outline-color: AccentColor !important;
 }

 :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) #urlbar[open]>#urlbar-background,
 :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) #urlbar[open]>#urlbar-background {
     border-color: color-mix(in srgb,
             AccentColor 50%,
             transparent) !important;
     /* Like: --toolbar-field-focus-border-color */
 }

 :root[privatebrowsingmode="temporary"],
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"],
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"],
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"],
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"] {
     --lwt-additional-images: none !important;
     --lwt-header-image: none !important;
     --lwt-tab-text: rgba(232, 224, 255) !important;
     --lwt-text-color: var(--lwt-tab-text) !important;
     --toolbar-color: var(--lwt-tab-text) !important;
     --toolbar-non-lwt-textcolor: var(--lwt-tab-text) !important;
     --arrowpanel-color: var(--lwt-tab-text) !important;
     --focus-outline-color: rgb(172, 112, 255) !important;
     --toolbar-bgcolor: #322560 !important;
     --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
     --lwt-accent-color: #19162f !important;
     --in-content-page-background: var(--lwt-accent-color) !important;
     --toolbar-field-background-color: #0b0724 !important;
     --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
     --toolbarbutton-hover-background: rgba(255, 255, 255, 0.05) !important;
     --toolbarbutton-active-background: #4d4175 !important;
     --arrowpanel-background: #1d1935 !important;
     --arrowpanel-border-color: #322560 !important;
     --chrome-content-separator-color: none !important;
     --toolbar-field-focus-background-color: var(--toolbar-field-background-color) !important;
     --autocomplete-popup-hover-background: #1d1935 !important;
     --autocomplete-popup-highlight-background: rgba(65, 48, 117, 0.5) !important;
     --button-bgcolor: color-mix(in srgb, currentColor 13%, transparent) !important;
     --button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent) !important;
     --button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent) !important;
     --urlbar-box-bgcolor: color-mix(in srgb, currentColor 16%, transparent) !important;
 }

 :root[privatebrowsingmode="temporary"] #navigator-toolbox:-moz-lwtheme,
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"] #navigator-toolbox:-moz-lwtheme,
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"] #navigator-toolbox:-moz-lwtheme,
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"] #navigator-toolbox:-moz-lwtheme,
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"] #navigator-toolbox:-moz-lwtheme {
     --lwt-tabs-border-color: var(--focus-outline-color) !important;
 }

 :root[privatebrowsingmode="temporary"] #navigator-toolbox,
 :root[privatebrowsingmode="temporary"][lwtheme-image] #navigator-toolbox:-moz-lwtheme,
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"] #navigator-toolbox,
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"][lwtheme-image] #navigator-toolbox:-moz-lwtheme,
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"] #navigator-toolbox,
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"][lwtheme-image] #navigator-toolbox:-moz-lwtheme,
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"] #navigator-toolbox,
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"][lwtheme-image] #navigator-toolbox:-moz-lwtheme,
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"] #navigator-toolbox,
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"][lwtheme-image] #navigator-toolbox:-moz-lwtheme {
     background-color: var(--lwt-accent-color) !important;
 }

 :root[privatebrowsingmode="temporary"] #TabsToolbar,
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"] #TabsToolbar,
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"] #TabsToolbar,
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"] #TabsToolbar,
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"] #TabsToolbar {
     --lwt-tab-line-color: var(--focus-outline-color) !important;
 }

 :root[privatebrowsingmode="temporary"] notification-message[message-bar-type="infobar"],
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"] notification-message[message-bar-type="infobar"],
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"] notification-message[message-bar-type="infobar"],
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"] notification-message[message-bar-type="infobar"],
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"] notification-message[message-bar-type="infobar"] {
     --message-bar-text-color: var(--lwt-tab-text) !important;
     --in-content-page-color: var(--lwt-tab-text) !important;
 }

 :root[privatebrowsingmode="temporary"] menupopup,
 :root[lwtheme-mozlightdark]:not([lwthemetextcolor="bright"])[privatebrowsingmode="temporary"] menupopup,
 :root[style*="--lwt-accent-color: rgb(240, 240, 244); --lwt-text-color: rgba(21, 20, 26);"][privatebrowsingmode="temporary"] menupopup,
 :root[lwtheme-mozlightdark][lwthemetextcolor="bright"][privatebrowsingmode="temporary"] menupopup,
 :root[style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"][privatebrowsingmode="temporary"] menupopup {
     --menuitem-hover-background-color: #413d54 !important;
     --menu-background-color: #1d1935 !important;
     --menu-color: #eeeeee !important;
     --menuitem-disabled-hover-background-color: #ffffff00 !important;
     --menu-disabled-color: #ffffff50 !important;
     --menu-border-color: #322560 !important;
 }

 :root {
     --menu-border-color: rgba(107, 107, 107, 0.3);
     --menu-color: #fbfbfe;
     --menu-background-color: #2b2a33;
     --menuitem-hover-background-color: #52525e;
 }

 #alertSourceLabel {
     color: rgb(5, 209, 241) !important;
 }

 :root:not(:-moz-window-inactive) #navigator-toolbox {
     background-color: transparent !important;
 }

 #TabsToolbar,
 #titlebar,
 #nav-bar,
 #PersonalToolbar,
 #tabbrowser-tabs {
     -moz-appearance: -moz-mac-source-list !important;
     background-color: transparent !important;
 }

 /* De-emphasize tab icons and names when window is unfocused */
 :root:-moz-window-inactive .tab-content,
 :root:-moz-window-inactive #urlbar {
     opacity: 0.6;
 }

 :root:-moz-window-inactive #urlbar-background {
     background-color: transparent !important;
 }

 #urlbar[breakout][breakout-extend]>#urlbar-background {
     animation-name: none !important;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) !important;
 }

 /* Disable scrollbox */
 spacer[part="overflow-start-indicator"]+.scrollbox-clip>scrollbox {
     overflow: -moz-hidden-unscrollable !important;
 }

 .tab-label:is([selected], [attention]) {
     font-weight: 600 !important;
 }

 :root:is([lwtheme-mozlightdark],
     [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) #TabsToolbar[brighttext] #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([selected], [multiselected])>.tab-stack>.tab-background:-moz-lwtheme {
     filter: drop-shadow(0 0 1px var(--uc-tab-shadow-color, transparent));
 }

 :root:is([lwtheme-mozlightdark],
     [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) #TabsToolbar[brighttext] #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[visuallyselected="true"]:not(:focus),
 :root:is([lwtheme-mozlightdark],
     [style*="--lwt-accent-color: rgb(28, 27, 34); --lwt-text-color: rgba(251, 251, 254);"]) #TabsToolbar[brighttext] #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab[multiselected]:not([visuallyselected]) {
     --uc-tab-shadow-color: var(--toolbar-color);
 }

 #TabsToolbar {
     --uc-tab-shadow-color: var(--tab-line-color,
             var(--lwt-tab-line-color, var(--tabs-border-color, rgba(128, 128, 142, 0.9))));
     --uc-tab-shadow-color-bundle: var(--tab-line-color, var(--lwt-tab-line-color, rgba(128, 128, 142, 0.9)));
 }

 #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
     box-shadow: unset !important;
     filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
 }

 .tab-background[multiselected="true"] {
     outline: 1px solid color-mix(in srgb, var(--focus-outline-color, currentColor) 40%, transparent);
     outline-offset: -1px;
 }

 .tab-background[multiselected="true"][selected="true"] {
     outline-width: 2px;
     outline-offset: -2px;
 }