 @import url(uc-globals.css);
 /*@import url(uc-variables.css);*/
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-bookmarks.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-sidebar.css);
 @import url(uc-misc.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css);
 @import url(uc-context-menus.css);
 @import url(components/integrated_searchbar_popup.css);
 @import url(compact-bookmarks.css);
 @import url(sliding-bookmarks-bar.css);
 @import url(components/clean_extensions_menu.css);
 @import url(addons.css);
 @import url(components/colored_soundplaying_tab.css);
 @import url(components/search_bar_transparent_background.css);
 @import url(components/url_bar_no_border.css);
 /*@import url(components/autohide_sidebar.css);*/
 @import url(components/dark_additional_windows.css);
 @import url(components/overlay_tab_audio_icons.css);
 @import url(components/urlbar_container_color_border.css);
 @import url(components/tab_closing_animation.css);
 /*@import url(components/hide_tabs_with_one_tab_w_window_controls.css);
 @import url(components/buttonlike_toolbarbuttons.css);
 @import url(components/integrated_searchbar_popup.css);*/
 @import url(components/tab_closing_animation.css);
 @import url(components/shrinking_pinned_tabs.css);
 @import url(components/centered_tab_content.css);
 /*@import url(components/tab_line_loading_indicator.css);*/
 @import url(components/dark_checkboxes_and_radios.css);
 @import url(components/tab_close_button_always_on_hover.css);
 @import url(components/compact_extensions_panel.css);
 @import url(custom-chrome.css);

 /* Remove Tab When Only One *
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }

 /* Remove Tab When Only One *
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }
/* Add all around shadow-looks like an Outline */
 /*.tabbrowser-tab[selected] .tab-icon-image {
     filter:
         drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white) !important;
     border-radius: 15% !important;
 }*/
 /* No background color for url bar */
 #nav-bar #urlbar {
     border-bottom: none !important;
     border-top: none !important;
     box-shadow: none !important;
     background-color: transparent !important;
 }

 #nav-bar #urlbar[breakout][breakout-extend][open] {
     border-bottom: none !important;
     border-top: none !important;
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
         rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
     background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
 }

 /* Selected tabs design */
 #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
     box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4) !important;
 }

 /* Normal tabs design on hover */
 #TabsToolbar #tabbrowser-tabs .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
     background-color: hsl(240, 2%, 28%) !important;
     box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4) !important;
 }

 /* Change bookmarks bar color to be the same as top toolbar */
 :root {
     --firefoxcss-bookmarks-bg-color: transparent !important;
 }

 #personal-bookmarks toolbarbutton.bookmark-item {
     background-color: hsl(0, 0%, 8%) !important;
 }

 #personal-bookmarks #PlacesToolbarItems>toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover {
     background-color: #393939 !important;
 }

 #personal-bookmarks #PlacesToolbarItems>toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]):hover:active {
     background-color: #555555 !important;
 }

 #personal-bookmarks #PlacesToolbarItems>toolbarbutton.bookmark-item[open="true"] {
     background-color: #555555 !important;
 }

 /* Change bookmarks bar color to be the same as top toolbar */
 :root {
     --firefoxcss-bookmarks-bg-color: transparent !important;
 }

 #personal-bookmarks toolbarbutton.bookmark-item {
     background-color: hsl(0, 0%, 8%) !important;
 }

 #personal-bookmarks #PlacesToolbarItems>toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover {
     background-color: #393939 !important;
 }

 #personal-bookmarks #PlacesToolbarItems>toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"]):hover:active {
     background-color: #555555 !important;
 }

 #personal-bookmarks #PlacesToolbarItems>toolbarbutton.bookmark-item[open="true"] {
     background-color: #555555 !important;
 }

 /*-------------------- Remove padding between tabs ----*/
 .tabbrowser-tab {
     padding-left: 0 !important;
     padding-right: 0 !important;
 }

 :root[tabsintitlebar]:not(:-moz-lwtheme) {
     appearance: -moz-mac-source-list !important;
 }

 /* ---------- Shadow DOM ---------- */

 #tabbrowser-arrowscrollbox {
     --margin-top: 0px !important;
 }

 #scrollbutton-up,
 #scrollbutton-down,
 spacer[part="overflow-start-indicator"],
 spacer[part="overflow-end-indicator"] {
     margin-top: var(--margin-top, revert) !important;
 }

 /* ---------------------------------------- Tab Scroll Animation ---------------------------------------- */

 #tabbrowser-tabs[overflow] .tabbrowser-tab:not([pinned]) {
     box-sizing: content-box !important;
 }

 #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned]) {
     pointer-events: none !important;
     box-sizing: content-box !important;
     padding-inline: var(--tab-scroll-animation-inline-padding) !important;
     margin-inline: var(--tab-scroll-animation-inline-margin) !important;
     overflow-clip-margin: 0px !important;
 }

 #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([pinned]) .tab-stack {
     pointer-events: auto !important;
 }

 #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
     margin-inline-start: 0px !important;
 }

 #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([hidden]):last-of-type,
 #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden]:last-of-type),
 #tabbrowser-tabs[overflow]:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] ~ .tabbrowser-tab[hidden]:last-of-type) {
     margin-inline-end: 0px !important;
 }