@import url(uc-globals.css);
@import url(uc-context-menu-icons.css);
@import url(uc-panels.css);
@import url(uc-app-menu.css);
@import url(uc-sidebar);
/*@import url(uc-findbar.css);*/
@import url(uc-search-one-offs.css);
@import url(uc-ctrl-tab.css);
@import url(uc-sidebar.css);
@import url(uc-bookmarks.css);
@import url(uc-context-menus.css);
@import url(uc-fullscreen.css);
@import url(resources/in-content/library.css);
@import url(resources/in-content/downloads.css);
@import url(uc-popups.css);
@import url(uc-search-mode-icons.css);
@import url(uc-extensions.css);
@import url(uc-unified-extensions.css);
@import url(uc-misc.css);
@import url(refined-findbar.css);
@import url(custom-chrome.css);
@import url(autohide_bookmarks_toolbar.css);
/*@import url(sliding_bookmark.css);*/

/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
    --user-tab-rounding: 8px;
}

.tab-background {
    border-radius: var(--user-tab-rounding) !important;
}

/* 1/16/2022 Tone down the Fx96 tab border with add-on themes in certain fallback situations */
.tab-background:is([selected], [multiselected]):-moz-lwtheme {
    --lwt-tabs-border-color: rgba(0, 0, 0, 0.5) !important;
}

[brighttext="true"] .tab-background:is([selected], [multiselected]):-moz-lwtheme {
    --lwt-tabs-border-color: rgba(255, 255, 255, 0.5) !important;
}

/* Override Normal Density height to Compact Density height (plus room for context-line) only for tabs 1/16/2022 */

#TabsToolbar,
#tabbrowser-tabs {
    --tab-min-height: 31px !important;
}

/* Tweak for covering a line at the bottom of the active tab on some themes 8/11/2021 */
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"]+#TabsToolbar,
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"]+#TabsToolbar #tabbrowser-tabs {
    --tab-min-height: 32px !important;
}

#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}

/* Make sure tab attention dot isn't too low - 10 Dec 2022 */
.tabbrowser-tab:is([image], [pinned])>.tab-stack>.tab-content[attention]:not([selected="true"]),
.tabbrowser-tab>.tab-stack>.tab-content[pinned][titlechanged]:not([selected="true"]),
#firefox-view-button[attention],
.webextension-browser-action[attention="true"] {
    background-position-y: bottom 8px !important;
}

/* Inactive tabs: Shadow style */

.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
    background-color: color-mix(in srgb, currentColor 11%, transparent) !important;
}

/* Move container color bar to bottom of tab - updated 1/16/2022 */

.tab-background {
    --context-line-margin-adjust: 3px;
    /* 1/16/2022 */
    --context-line-active-adjust: 1px;
    /* 1/16/2022 */
}

.tabbrowser-tab[usercontextid]:is([selected=true], [visuallyselected="true"], [multiselected]) .tab-background {
    border-top: 1px solid transparent;
    /* 1/16/2022 Default border for consistency */
}

.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-context-line {
    margin-top: calc(var(--tab-min-height) - var(--context-line-margin-adjust)) !important;
}

.tabbrowser-tab[usercontextid]:is([selected=true], [visuallyselected="true"], [multiselected])>.tab-stack>.tab-background>.tab-context-line {
    margin-top: calc(var(--tab-min-height) - var(--context-line-margin-adjust) - var(--context-line-active-adjust)) !important;
}

/*** Audio Playing / Mute Button side-by-side when sound is playing ***/

#TabsToolbar {
    --user-mute-button-height: 20px;
    /* default size is 12px, site icon is 16px */
}

/* Move the mute/unmute button to the right and enlarge it */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]) {
    width: var(--user-mute-button-height) !important;
    height: var(--user-mute-button-height) !important;
    margin-left: calc(var(--user-mute-button-height) / 2 + 2px) !important;
    /* pushes icon to the right */
    margin-right: 2px !important;
    /* closes up some space before the text */
    padding: 0 !important;
    /* allows icon to expand to full size */
}

/* Move the site icon to the left a bit and adjust position */
.tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted])> :not(.tab-icon-overlay) {
    margin-left: -4px !important;
    /* pushes icon to the left */
    margin-top: calc((var(--user-mute-button-height) - 16px) / 2) !important;
    /* keep site icon reasonably positioned */
}

/* Override the rules for hover/not hover visibility */
/* for mute button */
.tabbrowser-tab:not(:hover) .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]),
/* for site icon */
.tabbrowser-tab:hover .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted])> :not(.tab-icon-overlay),
/* for site icon with Compact density */
:root[uidensity="compact"] .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted])> :not(.tab-icon-overlay) {
    opacity: 1 !important;
    /* overrides full transparency with full opacity */
}

/* Color the icon on hover for confirmation or avoidance */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]):hover {
    fill: green !important;
}

[lwthemetextcolor="bright"] .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted]):hover {
    fill: lightgreen !important;
    /* for dark themes */
}

/* Tweaked Audio playing/Mute button rules for pinned tabs */
.tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]) {
    width: var(--user-mute-button-height) !important;
    height: var(--user-mute-button-height) !important;
    margin-left: 2px !important;
    /* allow some overlap to reduce expanded width */
    margin-right: -2px !important;
    /* reduce empty space on the right */
    padding: 0 !important;
    /* allows icon to expand to full size */
    top: 0 !important;
    /* align button with site icon */
}

.tab-icon-stack:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted])> :not(.tab-icon-overlay) {
    margin-left: -6px !important;
    /* reduce empty space on the left */
    margin-top: calc((var(--user-mute-button-height) - 16px) / 2) !important;
    /* keep site icon reasonably positioned */
}

.tabbrowser-tab:not(:hover) .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]),
/* for site icon */
.tabbrowser-tab:hover .tab-icon-stack:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted])> :not(.tab-icon-overlay),
/* for site icon with Compact density */
:root[uidensity="compact"] .tab-icon-stack:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted])> :not(.tab-icon-overlay) {
    opacity: 1 !important;
    /* overrides full transparency with full opacity */
}

.tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]):hover {
    fill: green !important;
}

[lwthemetextcolor="bright"] .tab-icon-overlay:not([crashed]):is([pinned], [sharing]):is([soundplaying], [muted]):hover {
    fill: lightgreen !important;
    /* for dark themes */
}

/* Override font-weight for tabs */

.tabbrowser-tab {
    font-weight: 400 !important;
}

/* URL page actions hide/show on hover *

.urlbar-page-action {
    margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
    opacity: 0;
    transition: margin-inline-end 100ms linear, opacity 200ms linear;
}

#urlbar:hover .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open]~.urlbar-page-action {
    opacity: 1;
    margin-inline-end: 0px !important;
}

/* Makes black favicons more visible on dark background, contrast will be lowered though */
.tab-icon-image {
    filter: invert(40%) contrast(250%) saturate(250%) !important;
}

/* Adds a gradient outline to selected tab. This is going to need modifications if you use tabs that don't follow Proton styling.keep for reference *

.tab-background[selected] {
    outline: none !important;
    border: 2px solid transparent !important;
    box-shadow: none !important;
    background-clip: padding-box;
}

.tab-background[selected]>.tab-context-line {
    margin: -5px 0 0 !important;
}

.tabbrowser-tab[selected]>.tab-stack::before {
    content: "";
    display: -moz-box;
    min-height: inherit;
    border-radius: var(--tab-border-radius);
    grid-area: 1/1;
    margin-block: var(--tab-block-margin);
    background: repeat linear-gradient(90deg, #f0f, #ff0, #0ff) !important;
}

/* tab click effect *

.tab-stack {
    transition: transform 20ms linear
}

.tabbrowser-tab:active .tab-stack {
    transform: scale(0.9);
}

/* show close tab button only on hover */
.tabbrowser-tab .tab-close-button {
    display: none;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: -moz-box !important;
}

/* Show URL buttons on Hover */
#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons {
    opacity: 0;
}

#page-action-buttons {
    transition: opacity 0.15s ease;
}

#nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#tracking-protection-icon-container {
    opacity: 0;
}

#tracking-protection-icon-container {
    transition: opacity 0.15s ease;
}

toolbarbutton.bookmark-item[type="menu"] .toolbarbutton-icon {
    display: none !important;
}

#PlacesToolbarItems {
    -moz-box-pack: center !important;
}

/* Add this if you want to see the names of folders in your bookmarkbar*/

toolbarbutton.bookmark-item[type="menu"] {
    margin-right: .5em !important
}

toolbarbutton.bookmark-item[type="menu"] .toolbarbutton-text {
    display: -moz-box !important;
}

/*add this for no text in the bookmark bar. Adjust the margins if you want more or less space around the icons.*/
.bookmark-item {
    margin-left: 2px !important;
    margin-right: 2px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

toolbarbutton.bookmark-item .toolbarbutton-text {
    display: none !important;
}

toolbarbutton.bookmark-item .toolbarbutton-icon {
    margin-left: 2px !important;
}

#PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon[label]:not([label=""]) {
    margin-inline-end: 2px !important;
}

toolbarbutton.subviewbutton.subviewbutton-iconic .toolbarbutton-text {
    display: -moz-box !important;
}