 @import url(uc-globals.css);
 @import url(uc-variables.css);
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-bookmarks.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-sidebar.css);
 @import url(uc-misc.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css);
 @import url(uc-context-menus.css);
 @import url(components/integrated_searchbar_popup.css);
 @import url(compact-bookmarks.css);
 @import url(components/clean_extensions_menu.css);
 @import url(addons.css);
 @import url(components/colored_soundplaying_tab.css);
 @import url(components/search_bar_transparent_background.css);
 @import url(components/url_bar_no_border.css);
 @import url(components/autohide_sidebar.css);
 @import url(components/dark_additional_windows.css);
 @import url(components/overlay_tab_audio_icons.css);
 @import url(components/urlbar_container_color_border.css);
 @import url(components/tab_closing_animation.css);
 /* @import url(components/buttonlike_toolbarbuttons.css);*/
 @import url(components/integrated_searchbar_popup.css);
 @import url(components/tab_closing_animation.css);
 /*@import url(components/shrinking_pinned_tabs.css);*/
 @import url(components/centered_tab_content.css);
 /*@import url(components/tab_line_loading_indicator.css);*/
 @import url(components/dark_checkboxes_and_radios.css);
 @import url(components/autohide_bookmarks_toolbar.css);
 @import url(components/tab_close_button_always_on_hover.css);
 @import url(components/compact_extensions_panel.css);
 @import url(custom-chrome.css);

 /* Remove Tab When Only One */
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }

 /* Add all around shadow-looks like an Outline */
 /*.tabbrowser-tab[selected] .tab-icon-image {
     filter:
         drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white) !important;
     border-radius: 15% !important;
 }*/
 /* Bookmarks bar background color */
 #PersonalToolbar {
     background-color: transparent !important;
     -webkit-backdrop-filter: blur(24px) !important;
     backdrop-filter: blur(24px) !important;
     -moz-appearance: -moz-mac-source-list !important;
 }

 /* Remove empty space from tabs bar*
 #TabsToolbar .titlebar-spacer[type="pre-tabs"],
 #TabsToolbar .titlebar-spacer[type="post-tabs"],
 #TabsToolbar .titlebar-spacer,
 /* Private browser icons remove and change main menu to purple *
 #private-browsing-indicator-with-label,
 .private-browsing-indicator {
     display: none !important;
 }*/

 .tabbrowser-tab .tab-label-container .tab-label {
     transition: color 250ms ease !important;
 }

 .tabbrowser-tab[fadein]:not([style^="max-width"]) {
     max-width: 100vw !important
 }

 /*
 #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background:not(:-moz-lwtheme) {
     box-shadow: 0 0 4px rgba(128, 128, 142, 0.5) !important;
 }

 #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background:not(:-moz-lwtheme) {
     box-shadow: 0 0 1px var(--tab-line-color, rgba(128, 128, 142, 0.9)), 0 0 4px rgba(128, 128, 142, 0.5) !important;
 }

 :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme),
 :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) {
     --focus-outline-color: AccentColor !important;
 }

 :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) #urlbar[open]>#urlbar-background,
 :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) #urlbar[open]>#urlbar-background {
     border-color: color-mix(in srgb,
             AccentColor 50%,
             transparent) !important;}
     /* Like: --toolbar-field-focus-border-color */

 #private-browsing-indicator-with-label,
 .private-browsing-indicator {
     display: none
 }

 :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
     list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
 }

 /* This style simply makes the tab stay visible while it is being closed as well as makes the transition a bit slower */

 .tabbrowser-tab:not([pinned], [fadein]) {
     transition-duration: 240ms, 240ms !important;
     transition-timing-function: ease-out, ease-out !important;
     visibility: visible !important;
 }

 .tab-content:not([fadein], [pinned]) .tab-icon-pending:not([fadein]),
 .tab-icon-image:not([fadein]),
 .tab-label:not([fadein]) {
     visibility: visible !important;
 }

 .tab-label:not([fadein]) {
     display: flex !important;
 }

 /*Makes black favicons more visible on dark background, contrast will be lowered though*/
 .tab-icon-image {
     filter: invert(40%) contrast(250%) saturate(250%) !important;
 }

 /*
 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected=true], [multiselected]) {
     background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
 }

 .tabbrowser-tab:not(:hover)>.tab-stack>.tab-background:not([selected], [multiselected]) {
     background-color: color-mix(in srgb, currentColor 11%, transparent);
 }

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected], [multiselected]) {
     background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
 }

 /* Turn tabs playing audio gold*/

 .tabbrowser-tab[soundplaying] .tab-background {

     background-color: rgb(0, 255, 72) !important;

 }

 #private-browsing-indicator-with-label .private-browsing-indicator-icon {
     height: 24px !important;
     width: 24px !important;
 }

 :root,
 :root[lang^="en"] {
     --uc-string-private: "Private";
 }

 /* Change "Private Browsing" text to "Private" (English locale only)*/
 :root:is([lang^="en"]) #private-browsing-indicator-with-label>label {
     display: none !important;
 }

 :root:is([lang^="en"]) #private-browsing-indicator-with-label::after {
     content: var(--uc-string-private) !important;
     margin-block: 1px 2px;
     margin-inline: 6px 5px;
 }

 :root {
     --uc-titlebar-shadow: 0 -3px 2px -3px rgba(0, 0, 0, 0.2) inset;
     --uc-tab-shadow:
         0 0 0 1px var(--lwt-tab-line-color, var(--lwt-tabs-border-color, transparent)),
         0px 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
     --firefoxcss-normal-tabs-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4);
 }

 :root[lwtheme-brighttext="true"] {
     --uc-titlebar-shadow: 0 -3px 2px -3px rgba(0, 0, 0, 0.75) inset inset;
     --uc-tab-shadow:
         0 0 0 1px var(--lwt-tab-line-color, var(--lwt-tabs-border-color, transparent)),
         0 2px 4px rgba(0, 0, 0, 0.45), 0 0px 2px rgba(0, 0, 0, 0.2);
     --firefoxcss-normal-tabs-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4);
 }

 #tabbrowser-tabs .tab-background:is([selected], [multiselected]),
 #TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon {
     box-shadow: var(--uc-tab-shadow) !important;
 }

 #titlebar {
     box-shadow: var(--uc-titlebar-shadow) !important;
 }

 #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab .tab-label-container {
     --tab-label-mask-size: 1em !important;
 }

 /* need layout.css.has-selector.enabled*/
 .tabbrowser-tab:has(+ .tabbrowser-tab:is([selected="true"], :hover, [beforeselected-visible], [beforehovered])) .tab-stack::after {
     display: none;
 }

 #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
     margin-inline-start: 0 !important;
 }

 .titlebar-spacer[type="post-tabs"] {
     display: flex !important;
 }

 .titlebar-spacer[type="pre-tabs"],
 .private-browsing-indicator {
     display: none !important;
 }

 #TabsToolbar .toolbarbutton-animatable-box,
 #TabsToolbar .toolbarbutton-1 {
     fill: currentColor !important;
 }

 /*
 :root:not(:-moz-lwtheme) #navigator-toolbox:-moz-window-inactive {
     background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color)) !important;
 }

 .tab-background {
     border-radius: var(--tab-border-radius);
     border-bottom-left-radius: 8px !important;
     border-bottom-right-radius: 8px !important;
     margin-block: 0 !important;
     border: 0 !important;
     position: relative !important;
     --uc-tab-corner-bg: transparent;
 }

 /* rounded bottom corners*/
 .tab-background::before,
 .tab-background::after {
     content: "" !important;
     display: block !important;
     position: absolute !important;
     width: 8px !important;
     height: 8px !important;
     bottom: 0 !important;
     pointer-events: none !important;
     clip-path: inset(0);
 }

 .tab-background::before {
     border-bottom-right-radius: var(--tab-border-radius) !important;
     left: 0 !important;
     transform: translateX(-8px) !important;
     box-shadow: 4px 4px 0 4px var(--uc-tab-corner-bg) !important;
 }

 .tab-background::after {
     border-bottom-left-radius: var(--tab-border-radius) !important;
     right: 0 !important;
     transform: translateX(8px) !important;
     box-shadow: -4px 4px 0 4px var(--uc-tab-corner-bg) !important;
 }

 /* tab open/close transition */
 .tabbrowser-tab:not([pinned]) {
     transition-property: min-width, max-width !important;
     transition-duration: 150ms !important;
     transition-timing-function: cubic-bezier(0, .75, .25, 1) !important;
 }

 #tabbrowser-tabs[movingtab]>#tabbrowser-arrowscrollbox>.tabbrowser-tab[fadein]:not([selected]):not([multiselected]),
 .tabbrowser-tab[tab-grouping],
 .tabbrowser-tab[tabdrop-samewindow] {
     transition: transform 200ms cubic-bezier(0, .75, .25, 1) !important;
 }


 :root:is([inFullscreen], :not([tabsintitlebar])) #titlebar {
     --tab-block-margin: 4px !important;
 }

 :root #titlebar {
     --tab-border-radius: 8px !important;
     --uc-toolbarbutton-inner-padding: 6px !important;
     --toolbarbutton-tabsline-border-radius: 8px !important;
     --tabs-navbar-shadow-size: 0 !important;
     --tab-shadow-max-size: 0 !important;
 }

 /* button background transition */
 @media not (prefers-reduced-motion) {

     .toolbarbutton-1>.toolbarbutton-icon,
     .toolbarbutton-1>.toolbarbutton-text,
     .toolbarbutton-1>.toolbarbutton-badge-stack,
     :not(.panel-subview-body>toolbaritem)>.bookmark-item:not(menu, menuitem),
     .urlbar-page-action,
     .identity-box-button,
     #tracking-protection-icon-container,
     panel button,
     panel menulist,
     .titlebar-button {
         transition: background-color 0.25s ease !important;
     }

     .toolbarbutton-1:not([disabled=true]):is([open], [checked], :hover:active)>.toolbarbutton-icon,
     .toolbarbutton-1:not([disabled=true]):is([open], [checked], :hover:active)>.toolbarbutton-text,
     .toolbarbutton-1:not([disabled=true]):is([open], [checked], :hover:active)>.toolbarbutton-badge-stack,
     :not(.panel-subview-body>toolbaritem)>.bookmark-item:not(menu, menuitem):not([disabled=true]):is([open], [checked], :hover:active),
     .urlbar-page-action:not([disabled=true]):is([open], [checked], :hover:active),
     .identity-box-button:not([disabled=true]):is([open], [checked], :hover:active),
     #tracking-protection-icon-container:not([disabled=true]):is([open], [checked], :hover:active),
     panel button:not([disabled=true]):is([open], [checked], :hover:active),
     panel menulist:not([disabled=true]):is([open], [checked], :hover:active),
     .titlebar-button:not([disabled=true]):hover:active {
         transition-duration: 0s !important;
     }
 }

 /* remove background from urlbar box */
 #identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:not(:hover, [open]),
 #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:not(:hover, [open]),
 #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button:not(:hover, [open]) {
     background-color: transparent !important;
 }

 #urlbar[open]>#urlbar-background {
     border-color: transparent !important;
     box-shadow: 0 10px 16px #0005, 0 0 1px #0006 !important;
 }

 .urlbarView-row:not([type="tip"], [type="dynamic"])[selected]>.urlbarView-row-inner,
 .urlbarView-row-inner[selected] {
     box-shadow: 3px 0 var(--toolbar-field-focus-border-color) inset !important;
 }


 :root #titlebar {
     --tab-block-margin: 8px !important;
 }

 /* Remove empty space from tabs bar */
 #TabsToolbar .titlebar-spacer[type="pre-tabs"],
 #TabsToolbar .titlebar-spacer[type="post-tabs"],
 #TabsToolbar .titlebar-spacer,
 /* Remove Line above search engine selection in search bar */
 #urlbar .search-one-offs .search-panel-one-offs-header-label,
 /* Remove lefover window buttons from extra menu bar (when pressing alt)*/
 #titlebar #toolbar-menubar .titlebar-buttonbox-container,
 /* Private browser icons remove and change main menu to purple */
 #private-browsing-indicator-with-label,
 .private-browsing-indicator,
 /* Hide tracking protection icon from Search Bar */
 #tracking-protection-icon-container,
 /* Hide permission icons, see it when pressing permission button */
 #blocked-permissions-container {
     display: none !important;
 }

 /* Remove right and left side tab overflow border line */
 #scrollbutton-up~spacer {
     border-color: transparent !important;
 }

 .tabbrowser-tab[selected="true"] .tab-icon-image {
     /* Your CSS properties for the selected tab's icon here */
     /* For example, you can change the background color or add a filter background-color: #ff0000;*/
     filter: grayscale(0%) opacity(100%) brightness(100%) drop-shadow(3px 3px rgba(36, 36, 36, 0.757)) !important
 }


 :root[tabsintitlebar] #titlebar:-moz-window-inactive {
     opacity: 1 !important;
 }

 :root[tabsintitlebar] #titlebar:-moz-window-inactive .tabbrowser-tab:not([selected]) {
     opacity: 0.6 !important;
 }

 /*toolbar hamburger menu gradient color*/
 #appMenu-fxa-separator {
     border-image: 1 1 1 1 linear-gradient(90deg, #9400FF, #ba00e5, #df06b9, #e62da7, #f13b95, #f64d86, #f85f7a, #fc7169, #f9845b, #e8ab52) !important;
 }

 /*unread tabs -use tab flag extension*/
 .tabbrowser-tab[titlechanged]:not([selected="true"]) .tab-label {
     font-style: italic !important;
     color: #8c36f5 !important;
 }

 .tabbrowser-tab[busy]:not([selected="true"]) .tab-label {
     font-style: italic !important;
     color: #8c36f5 !important;
 }

 .tabbrowser-tab[class*="identity-color-"] .tab-background {
     border-right: solid 2px var(--identity-icon-color) !important;
     border-left: solid 2px var(--identity-icon-color) !important;
     transition: all .15s ease-in-out !important;
 }

 .tabbrowser-tab[class*="identity-color-"] .tab-background[selected="true"] {
     border-right: solid 4px var(--identity-icon-color) !important;
     border-left: solid 4px var(--identity-icon-color) !important;
 }

 /*container tab label color when selected */
 .tabbrowser-tab[class*="identity-color-"] .tab-label {
     color: var(--identity-tab-color) !important;
 }

 /* Container color bar visibility */
 .tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-context-line {
     margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
 }

 /* prevent white flash during page load */
 @-moz-document url(chrome://browser/content/browser.xhtml) {

     #main-window,
     browser[type="content-primary"],
     browser[type="content"],
     tabbrowser#content,
     #content,
     browser[type="content"]>html {
         background: #000000 !important;
     }
 }

 :root {
     --tab-block-margin: 3px 3px !important;
 }

 /* Contrainer extension code */
 #TabsToolbar #tabbrowser-tabs .tabbrowser-tab:is([usercontextid], [pinned]) .tab-background:not([selected]) {
     background: var(--identity-tab-color) !important;
     opacity: 0.3 !important;
 }

 /* Contrainer extension code */
 #tabbrowser-tabs .tab-context-line {
     display: none !important;
 }

 /* Normal tabs design *
 .tabbrowser-tab .tab-background:not([selected]) {
     /*border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-bg-color) !important;
  transition: background-color 250ms ease !important;
     box-shadow: var(--firefoxcss-normal-tabs-box-shadow) !important;
 }

 /* Normal tabs design on hover *
 #tabbrowser-tabs .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected]) {
     /*  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
     box-shadow: var(--firefoxcss-normal-tabs-box-shadow) !important;
 }

 /* Selected tabs design *
#tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Multiselect tabs *
#tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  outline: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
}

#tabbrowser-tabs
  .tabbrowser-tab
  .tab-background:is([selected]):is([multiselected]) {
  outline: 1px solid var(--firefoxcss-tab-multiselect-outline) !important;
  outline-offset: 0px !important;
  outline-width: 1px !important;
}*/
 /* Set tab icon color to gray when selected */
 .tab-icon:active {
     filter: none !important;
 }

 /* Change tab icon color when hovered */
 .tabbrowser-tab:hover .tab-icon-image {
     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg) !important;
 }

 /* Change unselected tab icon color to gray *
 .tabbrowser-tab[pinned][selected] .tab-icon-image,
 .tabbrowser-tab[pinned][selected] .tab-icon-sound {
     filter: grayscale(0%) !important;
 }

 .tabbrowser-tab .tab-icon-image,
 .tabbrowser-tab .tab-icon-sound {
     filter: grayscale(100%) !important;
 }

 /* userChrome.css *

 .tabbrowser-tab .tab-icon {
     filter: grayscale(1) opacity(0.7) !important;
 }
*/
 .tabbrowser-tab[selected="true"] .tab-icon {
     filter: grayscale(0) opacity(1) !important;
 }

 .tab-content:not([selected]) {
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) !important;
 }

 /* Bookmarks toolbar */
 #PersonalToolbar {
     background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)) !important;
     border-top: 1px solid rgba(255, 255, 255, 0.5);
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) !important;
     -webkit-backdrop-filter: blur(24px) !important;
     backdrop-filter: blur(24px) !important;
 }

 #PersonalToolbar .toolbarbutton-icon {
     filter: drop-shadow(0 1px 0 rgba(255, 255, 255, 0.4)) !important;
 }

 #TabsToolbar .toolbarbutton-icon,
 .tab-close-button:not([selected]) {
     filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.5)) !important;
 }

 #nav-bar toolbarbutton,
 [selected] .tab-close-button {
     filter: drop-shadow(0 1px 0 rgba(255, 255, 255, 0.5)) !important;
 }

 #nav-bar .toolbarbutton-1 {
     &:not([disabled]) {
         &:is([open], [checked], :hover:active)> :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
             fill: #07D;
             box-shadow: 0 1px 3px inset rgba(0, 0, 0, 0.2) !important;
             background-image: radial-gradient(rgba(255, 255, 255, 0.2), transparent) !important;
         }
     }
 }

 /*
 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected], [multiselected]) {
     background: linear-gradient(transparent, rgba(255, 255, 255, 0.25)) !important;
 }

 /* 1/16/2022 Tone down the Fx96 tab border with add-on themes in certain fallback situations
 .tab-background:is([selected], [multiselected]):-moz-lwtheme {
     --lwt-tabs-border-color: rgba(0, 0, 0, 0.5) !important;
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5) !important;
     /* , 0 3px 3px rgba(0,0,0,0.3)
     border: 1px solid rgba(0, 0, 0, 0.25);
 }

 [brighttext="true"] .tab-background:is([selected], [multiselected]):-moz-lwtheme {
     --lwt-tabs-border-color: rgba(255, 255, 255, 0.5) !important;
     border-bottom-color: transparent !important;
 }
 tab:not([selected]) .tab-icon-image {
     opacity: 1 !important;
     filter: none !important;
 }

 /* different tab shadows in various states. to produce the illusion of modulated depth */
 .tabbrowser-tab .tab-content {
     box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0.2), 0px 0px 5px 0px hsla(0, 0%, 0%, 0.1) !important;
 }

 .tabbrowser-tab:not([selected], [multiselected]):is(:hover, .keyboard-focused-tab, [open]) .tab-content,
 .tabbrowser-tab:is([multiselected], [pinned]) .tab-content {
     box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.25) !important;
 }

 .tabbrowser-tab[selected] .tab-content,
 .tabbrowser-tab:is([multiselected], [pinned])[selected] .tab-content {
     box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.35) !important;
 }

 .tabbrowser-tab:focus:not([aria-activedescendant]) .tab-content {
     box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px hsla(0, 0%, 0%, 0.35) !important;
 }

 /*  Pinned tabs dont have background color *
 #TabsToolbar #tabbrowser-tabs .tabbrowser-tab:is([pinned]) .tab-background:not([selected]) {
     background-color: transparent !important;
     box-shadow: none !important;
 }

 /* Change bookmarks bar color to be the same as top toolbar */
 :root {
     --firefoxcss-bookmarks-bg-color: transparent !important;
 }

 /*
 #nav-bar #urlbar[breakout][breakout-extend][open] {
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
         rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
 }

 /* ----- My Custom Colors ----- */
 :root {
     --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 20%) !important;
 }

 /*
 .tabbrowser-tab[selected="true"] .tab-icon-image {
     /* Your CSS properties for the selected tab's icon here */
 /* For example, you can change the background color or add a filter background-color: #ff0000;
     filter: blur(5px) grayscale(0%) contrast(200%) opacity(100%) brightness(2) drop-shadow(1px 1px rgba(58, 58, 58, 0.55)) !important*/

 .tabbrowser-tab:not([selected="true"]):not([multiselected="true"]) .tab-background {
     border-top: 1px solid rgba(130, 130, 130, 0.3) !important;
     border-left: 1px solid rgba(130, 130, 130, 0.3) !important;
     border-right: 1px solid rgba(130, 130, 130, 0.3) !important;
 }

 .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-icon-image {
     opacity: 0.9 !important;
     transition: opacity 250ms ease !important;
 }

 /* Mouse Hover Background by passing by non-selected tabs */

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
     background-image:
         /*var(--button-hover-bgcolor)*/
         radial-gradient(circle at bottom center,
             #3c2675 15px,
             #240e4355) !important;
     /*box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2) !important; */
     box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
 }

 /* Back button */

 #back-button>.toolbarbutton-icon {
     --backbutton-background: transparent !important;
     border: 0 !important;
     border: none !important;
     border-radius: 10px !important;
     box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.6) !important;
 }

 #forward-button>.toolbarbutton-icon {
     --forwardbutton-background: transparent !important;
     border: 0 !important;
     border: none !important;
     box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.6) !important;
     border-radius: 10px !important;
 }

 /*container tab label color when selected */

 .tabbrowser-tab[class*="identity-color-"] .tab-label {
     color: var(--identity-tab-color) !important;
     font-weight: bold !important;
     font-style: underline !important;
 }

 /* Active tab brightness */

 .tab-content[selected="true"] {
     background-color: color-mix(in srgb, #5c04ae 20%, transparent) !important;
     text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3),
         1px 1px 1px rgba(0, 0, 0, 0.5) !important;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
 }

 /* non-active/non-selected tabs (container) */

 .tabbrowser-tab[usercontextid]:not([selected], [multiselected]):hover .tab-background {
     background-color: color-mix(in srgb,
             var(--identity-tab-color) 20%,
             transparent) !important;
     outline: 1px solid var(--identity-tab-color) !important;
     box-shadow: inset 0em -2em 0em var(--identity-tab-color) !important;
 }

 /*
 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]) {
     background-image:
         /*var(--button-hover-bgcolor)*
         radial-gradient(circle at bottom center,
             #9400ff 15px,
             #9500ff7d) !important;
     /*box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2) !important;*
 }*/

 .tab-icon-image {
     filter: drop-shadow(0px 0px 2px white) !important;
 }

 .tabbrowser-tab[notselectedsinceload]:not([pending]),
 .tabbrowser-tab[notselectedsinceload][pending][busy] {
     font-style: italic !important;
 }

 /* Remove selected tab shadow, darken the border to account for lighter background color */
 #TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon,
 #tabbrowser-tabs .tab-background:is([selected], [multiselected]) {
     border: 1px solid color-mix(in srgb, currentColor 35%, transparent) !important;
     border-color: color-mix(in srgb, currentColor 35%, transparent) !important;
     background: radial-gradient(circle at bottom center, #540091a7 25px, #170027c3) !important;
     outline: 1px solid color-mix(in srgb, #f9845b 35%, transparent) !important;
 }

 /***inactive*/

 .tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-icon-image {
     opacity: 0.9 !important;
     filter: grayscale(0.2), brightness(0.7), contrast(20%) !important;
 }

 #nav-bar {
     box-shadow: inset 0 0 20px 5px hsla(0, 0%, 0%, 0.5) !important;
 }

 /**  inactive Favicons */
 .tabbrowser-tab:not([visuallyselected="true"], [multiselected]) .tab-icon-image {
     filter: brightness(80%) grayscale(20%) contrast(120%) blur(0.5px) opacity(100%) !important;
 }

 .tabbrowser-tab:not([visuallyselected="true"], [multiselected]):hover .tab-icon-image {
     filter: drop-shadow(1px 1px 2px rgba(43, 43, 43, 0.658)) drop-shadow(1px 1px 1px rgba(2, 2, 2, 0.74)) contrast(175%) brightness(113%) !important;
 }

 /* Shadow above content */

 #navigator-toolbox {
     box-shadow: 5px 3px 6px rgb(1 1 1 / 16%), 4px 4px 2px rgb(0 0 0 / 23%) !important;
 }


 .sidebar-splitter {
     display: none !important;
 }

 .tab-content:not([selected="true"]) {
     text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3),
         1px 1px 1px rgba(0, 0, 0, 0.5) !important;
 }

 .tab-content:not([selected="true"]) {
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) !important;
 }

 .tabbrowser-tab[notselectedsinceload]:not([pending]),
 .tabbrowser-tab[notselectedsinceload][pending][busy] {
     font-style: italic !important;
 }

 /* highlight unread tabs; requires italicizeUnreadTabs.uc.js */
 :root[italic-unread-tabs] .tabbrowser-tab[notselectedsinceload]:not([pending]),
 :root[italic-unread-tabs] .tabbrowser-tab[notselectedsinceload][pending][busy] {
     font-style: italic !important;
 }

 /* new code */
 .tabbrowser-tab[pending] {
     /* Set styles for unloaded tab */
     font-style: italic !important;
 }

 .tabbrowser-tab[busy] {
     /* Set styles for loading tab */
     font-style: italic !important;
 }

 .tabbrowser-tab[unread] {
     /* Set styles for unread tab */
     font-style: italic !important;
     font-weight: bold !important;
 }

 /* set rounded outside corners on tabs so they look like folder labels.
you can disable this by making a new pref in about:config
and setting it to true: "userChrome.tabs.rounded-outer-corners.disabled"
this CSS is complicated because the outside corner needs to take on the color of the
tab, but it's not part of the tab background so it doesn't do so automatically. */

 /* overflow needs to be visible since the corners need to be outside the
bounding box of the tab, otherwise they won't overlap with other tabs, they'll
just push tabs 10px away from each other, and from the edge of the tab bar. */
 #TabsToolbar .tabbrowser-tab,
 #TabsToolbar .tabbrowser-tab .tab-stack {
     overflow: visible !important;
 }

 .tabbrowser-tab .tab-stack::before,
 .tabbrowser-tab .tab-stack::after {
     bottom: 0;
     content: "";
     display: block;
     position: absolute;
     pointer-events: none;
     width: 5px !important;
     height: 5px !important;
     z-index: 2 !important;
 }

 .tabbrowser-tab .tab-stack::before {
     mask: url(chrome://userchrome/content/skin/tab-corner-mask-left.svg) 0/100% 100%, linear-gradient(#fff, #fff) !important;
     mask-composite: exclude !important;
     left: -5px !important;
 }

 .tabbrowser-tab .tab-stack::after {
     mask: url(chrome://userchrome/content/skin/tab-corner-mask-right.svg) 0/100% 100%, linear-gradient(#fff, #fff);
     mask-composite: exclude;
     right: -5px !mportant;
 }

 .tabbrowser-tab[usercontextid]:not([multiselected]) .tab-stack::before {
     left: -4.6px !important;
 }

 .tabbrowser-tab[usercontextid]:not([multiselected]) .tab-stack::after {
     right: -4.6px !important;
 }

 /* z-index of these corners is very complicated because the z-index of other
elements needs to be set directly, to create the impression that tabs are
layering on top of each other, with rightmost tabs on top and leftmost tabs on
bottom. this is the normal state but hovering, selecting, pinning, etc. needs to
change the z-index so tabs can "pop out" of the stack. so because z-index is
being modulated so heavily we need to do the same with our outside corners, or
else they'll end up being covered up or showing through things they shouldn't. */
 .tabbrowser-tab .tab-context-line {
     z-index: 3;
     position: relative !important;
 }

 .tabbrowser-tab {
     z-index: 0;
 }

 .tabbrowser-tab .tab-content {
     z-index: 1;
 }

 .tabbrowser-tab[pinned] .tab-stack::before,
 .tabbrowser-tab[pinned] .tab-stack::after {
     z-index: 6;
 }

 .tab-icon-stack {
     z-index: -1;
 }

 /* hide the corners on first/last visible tabs, just like we unround the top corners */
 #tabbrowser-tabs:not([movingtab], [using-closing-tabs-spacer]) .tabbrowser-tab:first-of-type:not([justmoved], [style*="transform"]) .tab-stack::before,
 #tabbrowser-tabs:not([movingtab], [using-closing-tabs-spacer]) .tabbrowser-tab:last-of-type:not([justmoved], [style*="transform"]) .tab-stack::after {
     display: none;
 }

 #TabsToolbar #tabbrowser-tabs #tabbrowser-arrowscrollbox:not([overflowing="true"]) .tabbrowser-tab:last-of-type[pinned] .tab-stack::after {
     display: block;
 }

 /* default position is for tabs to be stacked on top of the tab to their left.
so shadows are cast to the left but not to the right. */
 .tabbrowser-tab {
     position: relative;
 }

 /* hovered tabs stack on top of normal tabs in either direction. so shadows are
cast in both directions, unless the neighboring tab is selected or something. */
 .tabbrowser-tab:not([visuallyselected="true"], [pinned], [multiselected]):is(:hover, .keyboard-focused-tab, [open]) {
     z-index: 3 !important;
 }

 /* selected tabs stack over hovered tabs */
 .tabbrowser-tab[visuallyselected="true"] {
     z-index: 6 !important;
 }

 /* multiselected tabs do too, but lower than selected tabs */
 .tabbrowser-tab[multiselected] {
     z-index: 4 !important;
 }

 /* multiselected gets 1 extra point for being hovered */
 .tabbrowser-tab[multiselected]:not([visuallyselected="true"], [pinned]):is(:hover, .keyboard-focused-tab, [open]) {
     z-index: 5 !important;
 }

 .tabbrowser-tab[multiselected][visuallyselected="true"] {
     z-index: 6 !important;
 }

 /* pinned tabs stack over everything except selected tabs */
 .tabbrowser-tab[pinned] {
     z-index: 7 !important;
 }

 /* and the same formula applies to them too */
 .tabbrowser-tab[pinned]:not([visuallyselected="true"], [multiselected]):is(:hover, .keyboard-focused-tab, [open]) {
     z-index: 8 !important;
 }

 .tabbrowser-tab[pinned][multiselected] {
     z-index: 9 !important;
 }

 .tabbrowser-tab[pinned][multiselected]:not([visuallyselected="true"]):is(:hover, .keyboard-focused-tab, [open]) {
     z-index: 10 !important;
 }

 .tabbrowser-tab[pinned][visuallyselected="true"],
 .tabbrowser-tab[pinned][multiselected][visuallyselected="true"] {
     z-index: 11 !important;
 }

 /* when tab is being dragged/dropped, style it like it's hovered */
 #tabbrowser-tabs[movingtab] .tabbrowser-tab[selected]:not([pinned]) .tab-icon-image {
     opacity: 0 !important;
 }

 /* tab buttons are animated with opacity and transformation */
 .tabbrowser-tab:not(:hover, .keyboard-focused-tab, [tabdrop-samewindow], [open]) .tab-close-button {
     transform: translateX(-15px) scale(0.5) !important;
 }

 #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([tabdrop-samewindow], [justmoved]) :is(.tab-close-button, .tab-icon-image, .tab-sharing-icon-overlay, .tab-throbber) {
     transition: 0.12s transform ease-in-out, 0.12s opacity ease-in-out !important;
 }

 :root[privatebrowsingmode="temporary"] {

     /* Hide the post tab spacer as it is not needed. */
     .titlebar-spacer[type="post-tabs"] {
         display: none !important;
     }
 }

 /* String for the custom label. */
 :root,
 :root[lang^="en"] {
     --uc-string-private: "Private";
 }

 /* Appearance & sizing for the private browsing indicator. */
 #private-browsing-indicator-with-label {
     position: relative !important;
     isolation: isolate;
     font-size: 12px;

     /* Allow space for the gradient to underlay other toolbar items. */
     margin-inline: -16px -16px !important;
     padding-inline: 32px 24px !important;
     color: var(--button-primary-color, var(--toolbar-bgcolor)) !important;
     text-shadow: none !important;
     background: var(--uc-gradient);
     --uc-bg-color: var(--button-primary-bgcolor, var(--toolbarbutton-icon-fill-attention));

     /* Primay gradient, fades to transparent on the left. */
     --uc-gradient: linear-gradient(to right, transparent, var(--uc-bg-color) 35%);

     /* Alternate gradient, fades to transparent on both sides. */
     --uc-gradient-alt: linear-gradient(to right, transparent, var(--uc-bg-color) 25%, var(--uc-bg-color) 75%, transparent);

 }

 /* Add a shadow when the toolbars move over content, eg. in macOS hovering over
 * the menu bar in fullscreen mode. */
 #navigator-toolbox[style*="transform"] {
     box-shadow: 0 -3px 5px 3px light-dark(rgb(0 0 0 / .3), rgb(0 0 0 / .6)) !important;
 }

 [selected] .tab-content {
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
 }

 .tab-content:not([selected]) {
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) !important;
 }

 ß

 /* Tab previews */
 .tab-preview-container {
     background-color: var(--arrowpanel-background) !important;
     border: 1px solid var(--arrowpanel-border-color) !important;
 }

 .tab-preview-thumbnail-container {
     border-top: 1px solid var(--arrowpanel-border-color) !important;
 }