 @import url(uc-globals.css);
/* @import url(uc-variables.css);*/
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-bookmarks.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-sidebar.css);
 @import url(uc-misc.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css);
 @import url(uc-context-menus.css);
 @import url(compact-bookmarks.css);
 @import url(addons.css);
 @import url(components/colored_soundplaying_tab.css);
 @import url(components/search_bar_transparent_background.css);
 @import url(components/url_bar_no_border.css);
 @import url(components/autohide_sidebar.css);
 /*@import url(components/overlay_tab_audio_icons.css);*/
 @import url(components/urlbar_container_color_border.css);
 /* @import url(components/buttonlike_toolbarbuttons.css);*/
 /*@import url(components/shrinking_pinned_tabs.css);*/
 @import url(components/centered_tab_content.css);
 /*@import url(components/tab_line_loading_indicator.css);*/
 /*@import url(components/dark_checkboxes_and_radios.css);*/
 @import url(components/tab_close_button_always_on_hover.css);
 @import url(custom-chrome.css);

 /* Remove Tab When Only One */
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }

 /* Add all around shadow-looks like an Outline */
 /*.tabbrowser-tab[selected] .tab-icon-image {
     filter:
         drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white) !important;
     border-radius: 15% !important;
 }*/
 /* Sidebar background color change */
 /* Bookmarks bar background color */
 #PersonalToolbar {
     background-color: transparent !important;
     backdrop-filter: blur(20px) !important;
     -moz-appearance: -moz-mac-source-list !important;
 }

 /* Remove empty space from tabs bar*/
 #TabsToolbar .titlebar-spacer[type="pre-tabs"],
 #TabsToolbar .titlebar-spacer[type="post-tabs"],
 #TabsToolbar .titlebar-spacer,
 /* Private browser icons remove and change main menu to purple */
 #private-browsing-indicator-with-label,
 .private-browsing-indicator {
     display: none !important;
 }

 .tabbrowser-tab .tab-label-container .tab-label {
     transition: color 250ms ease !important;
 }

 .tabbrowser-tab[fadein]:not([style^="max-width"]) {
     max-width: 100vw !important
 }


 #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background:not(:-moz-lwtheme) {
     box-shadow: 0 0 4px rgba(128, 128, 142, 0.5) !important;
 }

 #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected])>.tab-stack>.tab-background:not(:-moz-lwtheme) {
     box-shadow: 0 0 1px var(--tab-line-color, rgba(128, 128, 142, 0.9)), 0 0 4px rgba(128, 128, 142, 0.5) !important;
 }

 :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme),
 :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) {
     --focus-outline-color: AccentColor !important;
 }

 :root[tabsintitlebar]:not(:-moz-window-inactive, :-moz-lwtheme) #urlbar[open]>#urlbar-background,
 :root[tabsintitlebar][lwt-default-theme-in-dark-mode]:not(:-moz-window-inactive) #urlbar[open]>#urlbar-background {
     border-color: color-mix(in srgb,
             AccentColor 50%,
             transparent) !important;}
     /* Like: --toolbar-field-focus-border-color */


 :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
     list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
 }

 /* This style simply makes the tab stay visible while it is being closed as well as makes the transition a bit slower */

 .tabbrowser-tab:not([pinned], [fadein]) {
     transition-duration: 240ms, 240ms !important;
     transition-timing-function: ease-out, ease-out !important;
     visibility: visible !important;
 }

 .tab-content:not([fadein], [pinned]) .tab-icon-pending:not([fadein]),
 .tab-icon-image:not([fadein]),
 .tab-label:not([fadein]) {
     visibility: visible !important;
 }

 .tab-label:not([fadein]) {
     display: flex !important;
 }

 .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected=true], [multiselected]) {
     background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
 }

 .tabbrowser-tab:not(:hover)>.tab-stack>.tab-background:not([selected], [multiselected]) {
     background-color: color-mix(in srgb, currentColor 11%, transparent);
 }

 /* Turn tabs playing audio gold*/

 .tabbrowser-tab[soundplaying] .tab-background {

     background-color: rgb(0, 255, 72) !important;

 }

 #private-browsing-indicator-with-label .private-browsing-indicator-icon {
     height: 24px !important;
     width: 24px !important;
 }

 :root,
 :root[lang^="en"] {
     --uc-string-private: "Private";
 }

 /* Change "Private Browsing" text to "Private" (English locale only)*/
 :root:is([lang^="en"]) #private-browsing-indicator-with-label>label {
     display: none !important;
 }

 :root:is([lang^="en"]) #private-browsing-indicator-with-label::after {
     content: var(--uc-string-private) !important;
     margin-block: 1px 2px;
     margin-inline: 6px 5px;
 }

 #tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab .tab-label-container {
     --tab-label-mask-size: 1em !important;
 }

 #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
     margin-inline-start: 0 !important;
 }

 .titlebar-spacer[type="post-tabs"] {
     display: flex !important;
 }

 #TabsToolbar .toolbarbutton-animatable-box,
 #TabsToolbar .toolbarbutton-1 {
     fill: currentColor !important;
 }


 :root:not(:-moz-lwtheme) #navigator-toolbox:-moz-window-inactive {
     background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color)) !important;
 }


 /* tab open/close transition */
 .tabbrowser-tab:not([pinned]) {
     transition-property: min-width, max-width !important;
     transition-duration: 150ms !important;
     transition-timing-function: cubic-bezier(0, .75, .25, 1) !important;
 }

 #tabbrowser-tabs[movingtab]>#tabbrowser-arrowscrollbox>.tabbrowser-tab[fadein]:not([selected]):not([multiselected]),
 .tabbrowser-tab[tab-grouping],
 .tabbrowser-tab[tabdrop-samewindow] {
     transition: transform 200ms cubic-bezier(0, .75, .25, 1) !important;
 }


 :root:is([inFullscreen], :not([tabsintitlebar])) #titlebar {
     --tab-block-margin: 0px !important;
 }

 :root #titlebar {
     --tab-border-radius: 8px !important;
     --uc-toolbarbutton-inner-padding: 6px !important;
     --toolbarbutton-tabsline-border-radius: 8px !important;
     --tabs-navbar-shadow-size: 0 !important;
     --tab-shadow-max-size: 0 !important;
 }

 /* button background transition */
 @media not (prefers-reduced-motion) {

     .toolbarbutton-1>.toolbarbutton-icon,
     .toolbarbutton-1>.toolbarbutton-text,
     .toolbarbutton-1>.toolbarbutton-badge-stack,
     :not(.panel-subview-body>toolbaritem)>.bookmark-item:not(menu, menuitem),
     .urlbar-page-action,
     .identity-box-button,
     #tracking-protection-icon-container,
     panel button,
     panel menulist,
     .titlebar-button {
         transition: background-color 0.25s ease !important;
     }

     .toolbarbutton-1:not([disabled=true]):is([open], [checked], :hover:active)>.toolbarbutton-icon,
     .toolbarbutton-1:not([disabled=true]):is([open], [checked], :hover:active)>.toolbarbutton-text,
     .toolbarbutton-1:not([disabled=true]):is([open], [checked], :hover:active)>.toolbarbutton-badge-stack,
     :not(.panel-subview-body>toolbaritem)>.bookmark-item:not(menu, menuitem):not([disabled=true]):is([open], [checked], :hover:active),
     .urlbar-page-action:not([disabled=true]):is([open], [checked], :hover:active),
     .identity-box-button:not([disabled=true]):is([open], [checked], :hover:active),
     #tracking-protection-icon-container:not([disabled=true]):is([open], [checked], :hover:active),
     panel button:not([disabled=true]):is([open], [checked], :hover:active),
     panel menulist:not([disabled=true]):is([open], [checked], :hover:active),
     .titlebar-button:not([disabled=true]):hover:active {
         transition-duration: 0s !important;
     }
 }

 /* remove background from urlbar box */
 #identity-box[pageproxystate="valid"].notSecureText>.identity-box-button:not(:hover, [open]),
 #identity-box[pageproxystate="valid"].chromeUI>.identity-box-button:not(:hover, [open]),
 #identity-box[pageproxystate="valid"].extensionPage>.identity-box-button:not(:hover, [open]) {
     background-color: transparent !important;
 }

 #urlbar[open]>#urlbar-background {
     border-color: transparent !important;
     box-shadow: 0 10px 16px #0005, 0 0 1px #0006 !important;
 }

 .urlbarView-row:not([type="tip"], [type="dynamic"])[selected]>.urlbarView-row-inner,
 .urlbarView-row-inner[selected] {
     box-shadow: 3px 0 var(--toolbar-field-focus-border-color) inset !important;
 }

 /* Remove empty space from tabs bar */
 #TabsToolbar .titlebar-spacer[type="pre-tabs"],
 #TabsToolbar .titlebar-spacer[type="post-tabs"],
 #TabsToolbar .titlebar-spacer,
 /* Remove Line above search engine selection in search bar */
 #urlbar .search-one-offs .search-panel-one-offs-header-label,
 /* Remove lefover window buttons from extra menu bar (when pressing alt)*/
 #titlebar #toolbar-menubar .titlebar-buttonbox-container,
 /* Private browser icons remove and change main menu to purple */
 #private-browsing-indicator-with-label,
 .private-browsing-indicator,
 /* Hide tracking protection icon from Search Bar */
 #tracking-protection-icon-container,
 /* Hide permission icons, see it when pressing permission button */
 #blocked-permissions-container {
     display: none !important;
 }

 /* Remove right and left side tab overflow border line */
 #scrollbutton-up~spacer {
     border-color: transparent !important;
 }