 @import url(uc-globals.css);
 /*@import url(uc-variables.css);*/
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);
 @import url(uc-ctrl-tab.css);
 @import url(uc-bookmarks.css);
 @import url(resources/in-content/library.css);
 @import url(resources/in-content/downloads.css);
 @import url(uc-popups.css);
 @import url(uc-search-mode-icons.css);
 @import url(uc-extensions.css);
 @import url(uc-unified-extensions.css);
 @import url(uc-sidebar.css);
 @import url(uc-misc.css);
 @import url(uc-search-one-offs.css);
 @import url(uc-context-menu-icons.css);
 @import url(uc-context-menus.css);
 @import url(components/integrated_searchbar_popup.css);
 @import url(compact-bookmarks.css);
 @import url(sliding-bookmarks-bar.css);
 @import url(components/clean_extensions_menu.css);
 @import url(addons.css);
 @import url(components/colored_soundplaying_tab.css);
 @import url(components/search_bar_transparent_background.css);
 @import url(components/url_bar_no_border.css);
 /*@import url(components/autohide_sidebar.css);*/
 @import url(components/dark_additional_windows.css);
 @import url(components/overlay_tab_audio_icons.css);
 @import url(components/urlbar_container_color_border.css);
 @import url(components/tab_closing_animation.css);
 /*@import url(components/hide_tabs_with_one_tab_w_window_controls.css);
 @import url(components/buttonlike_toolbarbuttons.css);
 @import url(components/integrated_searchbar_popup.css);*/
 @import url(components/tab_closing_animation.css);
 @import url(components/shrinking_pinned_tabs.css);
 @import url(components/centered_tab_content.css);
 /*@import url(components/tab_line_loading_indicator.css);*/
 @import url(components/dark_checkboxes_and_radios.css);
 @import url(components/tab_close_button_always_on_hover.css);
 @import url(components/compact_extensions_panel.css);
 @import url(custom-chrome.css);

 /* Remove Tab When Only One *
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }

 /* Remove Tab When Only One *
 #tabbrowser-tabs tab:first-of-type:last-of-type {
     visibility: collapse !important;
 }
/* Add all around shadow-looks like an Outline */
 /*.tabbrowser-tab[selected] .tab-icon-image {
     filter:
         drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white) !important;
     border-radius: 15% !important;
 }*/
 /* Sidebar background color change */
 /* Bookmarks bar background color */
 #PersonalToolbar {
     background-color: var(--firefoxcss-bookmarks-bg-color) !important;
     backdrop-filter: blur(10px) !important;
 }

 /* Remove empty space from tabs bar */
 #TabsToolbar .titlebar-spacer[type="pre-tabs"],
 #TabsToolbar .titlebar-spacer[type="post-tabs"],
 #TabsToolbar .titlebar-spacer,
 /* Private browser icons remove and change main menu to purple */
 #private-browsing-indicator-with-label,
 .private-browsing-indicator {
     display: none !important;
 }

 .tabbrowser-tab .tab-label-container .tab-label {
     transition: color 250ms ease !important;
 }

 /* Remove right and left side tab overflow border line */
 #scrollbutton-up~spacer {
     border-color: transparent !important;
 }

 /* Add border between tabs */
 #tabbrowser-tabs .tabbrowser-tab .tab-background {
     --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;

     border-block-start: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
     border-inline-end: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
 }

 /* Add left border on first tab, and first unpinned if tabs are overflowing */
 #tabbrowser-tabs .tabbrowser-tab[first-visible-tab] .tab-background,
 #tabbrowser-tabs[haspinnedtabs][positionpinnedtabs] .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) .tab-background {
     border-inline-start: 1px solid color-mix(in srgb, currentColor 25%, transparent) !important;
 }

 /* Offset tab content to account for side border */
 #tabbrowser-tabs .tabbrowser-tab .tab-content {
     margin-inline: 0.5px 1.5px !important;
 }

 /* Remove spacing between tabs */
 #tabbrowser-tabs .tabbrowser-tab {
     padding-inline: 0px !important;
 }

 /* Remove spacing between regular and pinned tabs */
 #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
     margin-inline-start: 0px !important;
 }

 /* Remove selected tab shadow, darken the border to account for lighter background color */
 #TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon,
 #tabbrowser-tabs .tab-background:is([selected], [multiselected]) {
     border-color: color-mix(in srgb, currentColor 35%, transparent) !important;
     box-shadow: unset !important;
 }

 /* Remove firefox view separator spacing */
 :root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden]) :is(#firefox-view-button, #wrapper-firefox-view-button)+#tabbrowser-tabs {
     border: unset !important;
     padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
     margin-inline-start: 0px !important;
 }

 /* Set min height on absolute pinned tabs to overlay bottom border */
 #tabbrowser-tabs[haspinnedtabs][positionpinnedtabs] .tabbrowser-tab[selected] .tab-content {
     min-height: var(--tab-min-height) !important;
 }

 /* Hide Overflow Button */
 toolbarbutton#nav-bar-overflow-button>image {
     color: transparent;
 }

 toolbarbutton#nav-bar-overflow-button:hover>image {
     color: white
 }

 /* Transparent Elements */
 #navigator-toolbox,
 #nav-bar,
 #nav-bar-customization-target,
 #urlbar-container,
 #urlbar,
 #urlbar-background {
     background-color: transparent !important;
 }

 /*  Removes the background from the urlbar while not in use  */
 #urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {
     box-shadow: none !important;
     background: #0000 !important;
 }

 /*  Makes the sidebar a little nicer  */
 #sidebar-splitter {
     display: none
 }

 #sidebar-header {
     padding-bottom: 0 !important;
     border-bottom: 0 !important
 }

 /*  Rounded corner in pages  */
 #navigator-toolbox {
     padding-bottom: 10px;
 }

 #navigator-toolbox[style*="margin-top: -54px;"] {
     margin-top: -44px !important
 }

 .browserStack>browser {
     margin: -10px 0 0 0 !important;
     border-radius: 10px 10px 0 0;
     transition: border-radius .2s !important
 }

 .browserStack:nth-last-child(3n)>browser,
 .browserStack:nth-last-child(4n)>browser {
     margin: -10px 0 !important;
     border-radius: 10px !important;
     transition: border-radius .2s !important
 }

 findbar {
     border-radius: 10px 10px 0 0 !important;
     margin-top: -10px;
     z-index: 2;
     padding-bottom: -10px;
 }

 [inFullscreen] .browserStack>browser {
     margin: -10px 0 0 0 !important;
     border-radius: 0 !important;
     transition: border-radius .7s !important
 }

 [inFullscreen] .browserStack:nth-last-child(3n)>browser,
 .browserStack:nth-last-child(4n)>browser {
     margin: -10px !important;
     transition: border-radius .7s !important
 }

 /*  Makes sidebars nicer  */
 #sidebar-box {
     margin-top: -10px !important;
     border-radius: 0 10px 0 0 !important;
     z-index: 1
 }

 #sidebar-box[positionend="true"] {
     border-radius: 10px 0 0 0 !important
 }

 #sidebar-box>* {
     background-image: none;
 }

 /*  Private tabs  */
 [privatebrowsingnewindicator=""] #PanelUI-menu-button>.toolbarbutton-badge-stack {
     list-style-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- This Source Code Form is subject to the terms of the Mozilla Public - License, v. 2.0. If a copy of the MPL was not distributed with this - file, You can obtain one at http://mozilla.org/MPL/2.0/. --%3E%3Csvg viewBox='0 0 20 20' width='20' height='20' version='1.1' id='svg10' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs14' /%3E%3Cpath id='path4' d='M 4.4607598,4.7745347 C 2.8049552,4.7515627 1.1522018,5.4691193 0.08042091,6.8761599 -0.16625285,7.8508546 0.21338341,11.450255 0.42938959,12.016939 0.86273544,14.303671 2.732398,16.02487 4.9737961,16.02487 c 1.1186988,0 2.1336268,-0.446805 2.9349832,-1.161493 L 8.395773,14.444094 a 2.4174054,2.4174054 0 0 1 3.138115,-0.02344 l 0.734397,0.606788 v -0.0026 c 0.772021,0.621352 1.717989,1.002634 2.752686,1.002634 2.240064,0 4.109726,-1.721199 4.544406,-4.007931 C 19.78005,11.450192 20.174354,7.8668551 19.914346,6.8761599 18.008957,4.3747545 14.266945,4.0537862 11.937545,6.1938479 L 10.635423,7.3918003 H 9.3593434 L 8.0572214,6.1938479 C 7.0375252,5.2575709 5.7486078,4.7924021 4.4607598,4.7745347 Z m 1.0390935,3.6954225 c 0.9293602,0 1.7557821,0.389533 2.2891309,0.992217 a 0.86669252,0.86669252 0 0 1 0,1.1302418 c -0.5333488,0.602685 -1.3597707,0.989614 -2.2891309,0.989614 -0.9293601,0 -1.7557821,-0.386929 -2.2891308,-0.989614 a 0.86669252,0.86669252 0 0 1 0,-1.1302418 c 0.5333487,-0.602684 1.3597707,-0.992217 2.2891308,-0.992217 z m 9.0002687,0 c 0.929359,0 1.755781,0.389533 2.289131,0.992217 a 0.86669252,0.86669252 0 0 1 0,1.1302418 c -0.53335,0.602685 -1.359772,0.989614 -2.289131,0.989614 -0.92936,0 -1.755782,-0.386929 -2.289131,-0.989614 a 0.86669252,0.86669252 0 0 1 0,-1.1302418 c 0.533349,-0.602684 1.359771,-0.992217 2.289131,-0.992217 z' style='fill:currentColor;stroke-width:1.33337' /%3E%3C/svg%3E%0A");
 }

 #private-browsing-indicator-with-label {
     display: none
 }