 @import url(uc-globals.css);
 /*@import url(uc-variables.css);*/
 @import url(uc-panels.css);
 @import url(uc-app-menu.css);
 @import url(uc-findbar.css);

 #appcontent>#tabbrowser-tabbox>#tabbrowser-tabpanels>.deck-selected>.browserContainer>.browserStack>browser {
     border-radius: 8px !important;
     margin: 5px !important;

 }

 .browserStack {
     background: linear-gradient(90deg, rgba(255, 99, 120, 1) 0%, rgba(79, 82, 252, 1) 100%);
 }

 .browserContainer {
     background-color: var(--lwt-accent-color-inactive,
             var(--lwt-accent-color)) !important;
     background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
     background-repeat: no-repeat, var(--lwt-background-tiling) !important;
     background-position: right top, var(--lwt-background-alignment) !important;
 }

 /* autohide back&forward button */
 #forward-button {

     transform: scale(1, 1) !important;
     transition: margin-left 150ms var(--animation-easing-function), opacity 250ms var(--animation-easing-function), transform 350ms var(--animation-easing-function) !important;
 }

 #forward-button[disabled="true"] {
     margin-top: 1.2px !important;
     margin-left: -22px !important;
     opacity: 0 !important;
     transform: scale(0.8, 0.8) !important;
     pointer-events: none !important;
 }

 #back-button {
     margin-top: 1.2px !important;
     transform: scale(1, 1) !important;
     transition: margin-left 150ms var(--animation-easing-function), opacity 250ms var(--animation-easing-function), transform 350ms var(--animation-easing-function) !important;
 }

 #back-button[disabled="true"] {
     margin-top: 1.2px !important;
     margin-left: -26px !important;
     opacity: 0 !important;
     transform: scale(0.8, 0.8) !important;
     pointer-events: none !important;
 }

 /*============================================================================*/
 /* T A B S*/

 /* ----- move tab close button to the left ----- */

 .tabbrowser-tab:not(:hover) .tab-close-button {
     padding-inline: 0px !important;
     opacity: 0;
     display: none !important;
 }

 .tabbrowser-tab:not([pinned]):hover .tab-close-button {
     order: 0 !important;
     margin-inline: -5px 2.5px !important;
     display: flex !important;
     opacity: 1;
     border-radius: 5px !important;
 }

 .tabbrowser-tab:not([pinned="true"]):hover .tab-icon-stack {
     -moz-box-ordinal-group: 99999 !important;
 }

 .tabbrowser-tab:not([pinned="true"]):hover .tab-icon-stack:not([indicator-replaces-favicon]) {
     display: none;
 }


 /* ----- pinned tab width ----- */
 .tabbrowser-tab[pinned] {
     width: 67px !important;
 }

 .tab-icon-image[pinned] {
     margin-left: 12px !important;
 }

 .tab-label-container[pinned] {
     visibility: hidden !important;
 }

 /* ----- space between tabs (4px is Safari default) ----- */
 .tabbrowser-tab {
     padding-inline: 4px !important;
 }

 .tabbrowser-tab[first-visible-tab] {
     padding-inline-start: 3px !important;
 }

 /*============================================================================*/
 /* ----- T A B   D E S I G N S ----- */

 /* Selected tabs design */
 .tabbrowser-tab .tab-background[selected="true"] {
     border: 2px solid transparent !important;
     border-radius: 5px 5px 5px 5px !important;
     outline: none !important;
     background-clip: padding-box !important;
 }


 /* Background tabs design */
 .tabbrowser-tab .tab-background:not([selected]) {
     border: 0 !important;
     border-radius: 5px 5px 5px 5px !important;
     background-color: rgb(160, 160, 160, 0.1) !important;
 }

 /* Normal tabs design on hover */
 #tabbrowser-tabs .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
     border: 0 !important;
 }

 /* Multiselect tabs design on hover */
 #tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected="true"] {
     border: 0 !important;
     border-radius: 5px 5px 5px 5px !important;
 }

 /* Fixing Multiselect */
 .tab-background[multiselected="true"]:not([selected="true"])>.tab-background-inner {
     background: none !important;
 }

 /* Creates a colorful animated border around active tab */

 .tabbrowser-tab[selected]>.tab-stack::before {
     grid-area: 1/1;
     content: "";
     display: inherit;
     margin-block: var(--tab-block-margin);
     border-radius: 5px 5px 5px 5px !important;
     z-index: 0;
     background-image: linear-gradient(90deg, rgba(255, 99, 120, 1) 0%, rgba(79, 82, 252, 1) 100%);
     background-size: cover;
     background-position: center;
 }

 #sidebar-box {
     margin: 5px !important;
     border-radius: 8px !important;
     background: linear-gradient(90deg, rgba(255, 99, 120, 1) 0%, rgba(79, 82, 252, 1) 100%);
 }